/* only for base styles for all pages */

/* @font-face {
    font-family: Geometria, sans-serif;
    src: url('/src/uploads/fonts/Geometria.ttf');
    font-weight: normal;
} */

body, button, link, textarea, input {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
}

span {
    font-style: italic;
}

/* .menu-description {
    font-family: 'Geometria', sans-serif;
} */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: -0.02em;
    border: 0.8px solid var(--button);
    border-radius: 32px;
}

.link {
    font-style: normal;
    text-decoration: none;
    color: currentColor;
    outline: transparent;
}

.h1 {
    font-weight: normal;
}

.h2 {
    font-weight: bold;
}

button{
    cursor: pointer;
}