/* only for base styles for all pages */

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('/src/fonts/DMSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('/src/fonts/DMSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('/src/fonts/DMSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('/src/fonts/DMSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('/src/fonts/DMSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('/src/fonts/DMSans-Bold.ttf');
    font-weight: 700;
    font-style: italic;
}

body, button, link, textarea, input {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
}

span {
    font-style: italic;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: -0.02em;
    border: 0.8px solid var(--light);
    border-radius: 32px;
}

.link {
    font-style: normal;
    text-decoration: none;
    color: currentColor;
    outline: transparent;
}

.h1 {
    font-weight: normal;
}

.h2 {
    font-weight: bold;
}

button{
    cursor: pointer;
}