:root {
    --dark-color: #121212;
    --light-color: #F6F6F6;
    --regular: font-weight:400;
    --medium: font-weeight:500;
    --bold: font-weight:700;
    --action-transmition: 300ms, cubic-bezier(.17, .67, .77, .32);
}