<section class="menu section-menu" id="menu">
            <div class="container menu-container">
                <h2>RESTAURANT MENU</h2>
                <div class="menu-category">
                    <div class="menu-category-item isopen ci1" id="ci1" data-ci>
                        <h3 class="subtitle">Hot meals</h3>
                        <ul class="hot-meals">
                            <li class="item">
                                <p class="marked-text">Veal borscht with beans</p>
                                <p class="weight">400 g</p>
                                <p class="subtext hm1">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                                <p class="price">240 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Cheese soup with chicken</p>
                                <p class="weight">400 g</p>
                                <p class="subtext hm2">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                                <p class="price">200 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Carbonara pasta</p>
                                <p class="weight">400 g</p>
                                <p class="subtext hm3">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                                <p class="price">430 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Pork steak</p>
                                <p class="weight">400 g</p>
                                <p class="subtext hm4">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                                <p class="price">500 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Gorbusha in white wine sauce</p>
                                <p class="weight">400 g</p>
                                <p class="subtext hm5">Tender redfish, cream sauce based on white wine</p>
                                <p class="price">400 UAH</p>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-category-item ci2" id="ci2" data-ci2>
                        <h3 class="subtitle">Side dishes and snacks</h3>
                        <ul class="side-dishes">
                            <li class="item">
                                <p class="marked-text">Baked vegetables</p>
                                <p class="weight">200 g</p>
                                <p class="subtext sd1">Zucchini, pepper, tomato, eggplant</p>
                                <p class="price">230 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">French fries</p>
                                <p class="weight">150 g</p>
                                <p class="subtext sd2">Potatoes, tomato sauce</p>
                                <p class="price">160 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Peasant-style potatoes</p>
                                <p class="weight">150 g</p>
                                <p class="subtext sd3">Potatoes, spices, spicy sauces</p>
                                <p class="price">160 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Crisp pickles from the barrel</p>
                                <p class="weight">250 g</p>
                                <p class="subtext sd4">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                                <p class="price">350 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Chicken wings in honey sauce</p>
                                <p class="weight">400 g</p>
                                <p class="subtext sd5">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                                <p class="price"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-category-item ci3" id="ci3" data-ci3>
                        <h3 class="subtitle">Salads</h3>
                        <ul class="salads">
                            <li class="item">
                                <p class="marked-text">Caesar with chicken</p>
                                <p class="weight">230 g</p>
                                <p class="subtext s1">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                                <p class="price">450 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Caesar with shrimp</p>
                                <p class="weight">230 g</p>
                                <p class="subtext s2">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                                <p class="price">300 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Greek salad</p>
                                <p class="weight">230 g</p>
                                <p class="subtext s3">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                                <p class="price">280 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Meat salad</p>
                                <p class="weight">230 g</p>
                                <p class="subtext s4">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                                <p class="price">300 UAH</p>
                            </li>
                        </ul>
                    </div>  
                    <div class="menu-category-item ci4" id="ci4" data-ci4>
                        <div class="menu-category-wrap">
                            <h3 class="subtitle">Desserts</h3>
                            <ul class="deserts">
                                <li class="item">
                                    <p class="marked-text">Napoleon cake</p>
                                    <p class="price">200 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Poppy cake</p>
                                    <p class="price">300 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Tiramisu</p>
                                    <p class="price">260 UAH</p>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-category-wrap">
                            <h3 class="subtitle">Drinks</h3>
                            <ul class="drinks">
                                <li class="item">
                                    <p class="marked-text">Black/green tea</p>
                                    <p class="price">100 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Espresso</p>
                                    <p class="price">100 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Cappuccino</p>
                                    <p class="price">100 UAH</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="button-wrap">
                    <button type="button" data-previous-btn class="previous-btn">
                        <svg class="previous-btn-icon">
                            <use href="../../img/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" data-next-btn class="next-btn">
                        <svg class="next-btn-icon">
                            <use href="../../img/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <script src="../../js/restaurant-menu-slider.js"></script>
                <button type="button" class="btn btn-book-a-table" data-modal-bt-open>book a table</button>
            </div>
            </section>
        