<section>
    <!-- <p>
        restaurant-hero
    </p> -->
    <h2 class="restaurant-hero-title">
        Restaurant
    </h2>

    <ul class="restaurant-hero-btn">
        <li><button type="button" class="restaurant-hero-btn-book-table">book a table</button></li>
        <li><button type="button" class="restaurant-hero-btn-view-menu">viev a menu</button></li>
    </ul>

    <p class="restaurant-hero-">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
    
    <div class="restaurant-hero-slide-pic-container">
    <div class="restaurant-hero-slide-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="restaurant hall"> 
        </picture>  
    </div>
    <div class="restaurant-hero-slide-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="a dish from the menu"> 
        </picture>  
    </div>   
    <div class="restaurant-hero-slide-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="cooking process"> 
        </picture>  
    </div>   
    <div class="restaurant-hero-slide-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="bar area"> 
        </picture>  
    </div>   
    <div class="restaurant-hero-slide-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="bar area"> 
        </picture>  
    </div>   
    <div class="restaurant-hero-slide-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="restaurant hall"> 
        </picture>  
    </div>
</div>
</section>