<section class="container">
    <!-- <p>
        restaurant-about
    </p> -->
<div class="section-restaurant-about">
    <div class="restaurant-about-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="the boy is cooking"> 
        </picture>  
    </div>
    <div class="restaurant-about-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="a piece of meat and wine"> 
        </picture>  
    </div>
    <div class="restaurant-about-pic">
        <picture>
            <source srcset="" media="(min-width: 1200px)">
            <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(max-width: 767px)">
            <img src="" alt="cooling drink"> 
        </picture>  
    </div>
    <p class="restaurant-about-text restaurant-about-text-first">At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest ingredients to create delicious dishes that showcase the flavors of premium cuts of meat.</p>
    <p class="restaurant-about-text">Our slow-cooking process and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic of meat preparation at Mimino.</p>
</div>
</section>