<section class="section-restaurant-about ">
    <div class="container">
        <h2 class="restaurant-about-title hidden">
            About Restaurant
        </h2>
    <div class="restaurant-about-pic-container">
        <div class="restaurant-about-pic">
            <picture>
                <source srcset="/img/restaurant-page/restaurant-about/desktop/rst-ab-img-1-desk@1x.jpg 1x, img/restaurant-page/restaurant-about/desktop/rst-ab-img-1-desk@2x.jpg 2x" media="(min-width: 1200px)">
                <source srcset="/img/restaurant-page/restaurant-about/tablet/rst-ab-img-1-tab@1x.jpg 1x, /img/restaurant-page/restaurant-about/tablet/rst-ab-img-1-tab@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="/img/restaurant-page/restaurant-about/mobile/rst-ab-img-1-mob@1x.jpg 1x, /img/restaurant-page/restaurant-about/mobile/rst-ab-img-1-mob@2x.jpg 2x" media="(max-width: 767px)">
                <img src="/src/img/restaurant-page/restaurant-about/mobile/rst-ab-img-1-mob@1x.jpg" alt="the boy is cooking"> 
            </picture>  
        </div>
        <div class="restaurant-about-pic">
            <picture>
                <source srcset="/img/restaurant-page/restaurant-about/desktop/rst-ab-img-2-desk@1x.jpg 1x, img/restaurant-page/restaurant-about/desktop/rst-ab-img-2-desk@2x.jpg 2x" media="(min-width: 1200px)">
                <source srcset="/img/restaurant-page/restaurant-about/tablet/rst-ab-img-2-tab@1x.jpg 1x, /img/restaurant-page/restaurant-about/tablet/rst-ab-img-2-tab@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="/img/restaurant-page/restaurant-about/mobile/rst-ab-img-2-mob@1x.jpg 1x, /img/restaurant-page/restaurant-about/mobile/rst-ab-img-2-mob@2x.jpg 2x" media="(max-width: 767px)">
                <img src="/img/restaurant-page/restaurant-about/mobile/rst-ab-img-2-mob@1x.jpg" alt="a piece of meat and wine"> 
            </picture>  
        </div>
        <div class="restaurant-about-pic">
            <picture>
                <source srcset="/img/restaurant-page/restaurant-about/desktop/rst-ab-img-3-desk@1x.jpg 1x, img/restaurant-page/restaurant-about/desktop/rst-ab-img-3-desk@2x.jpg 2x" media="(min-width: 1200px)">
                <source srcset="/img/restaurant-page/restaurant-about/tablet/rst-ab-img-3-tab@1x.jpg 1x, /img/restaurant-page/restaurant-about/tablet/rst-ab-img-3-tab@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="/img/restaurant-page/restaurant-about/mobile/rst-ab-img-3-mob@1x.jpg 1x, /img/restaurant-page/restaurant-about/mobile/rst-ab-img-3-mob@2x.jpg 2x" media="(max-width: 767px)">
                <img src="/img/restaurant-page/restaurant-about/mobile/rst-ab-img-3-mob@1x.jpg" alt="cooling drink"> 
            </picture>  
        </div>
    </div>
        <p class="restaurant-about-text restaurant-about-text-first">At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest ingredients to create delicious dishes that showcase the flavors of premium cuts of meat.</p>
        <p class="restaurant-about-text">Our slow-cooking process and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic of meat preparation at Mimino.</p>
    </div>
    </section>