<section class="menu" id="menu">
            <div class="container menu-container">
                <h2>RESTAURANT MENU</h2>
                <div class="menu-category">
                    <div class="menu-category-item">
                        <h3 class="subtitle">Hot meals</h3>
                        <ul class="hot-meals">
                            <li class="item">
                                <p class="marked-text">Veal borscht with beans</p>
                                <p class="weight">400 g</p>
                                <p class="subtext">Veal, potatoes, cabbage, carrots, onions,<br> beans, garlic, tomatoes, greens, sour cream</p>
                                <p class="price">240 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Cheese soup with chicken</p>
                                <p class="weight">400 g</p>
                                <p class="subtext">Chicken, potatoes, carrots, onions,<br> mushrooms, soft cheese, greens</p>
                                <p class="price">200 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Carbonara pasta</p>
                                <p class="weight">400 g</p>
                                <p class="subtext">Tagliatelle pasta, bacon, cream,<br> Parmesan cheese, egg, greens</p>
                                <p class="price">430 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Pork steak</p>
                                <p class="weight">400 g</p>
                                <p class="subtext">Pork tenderloin, spices, served with<br> sweet chili sauce and vegetables</p>
                                <p class="price">500 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Gorbusha in white wine sauce</p>
                                <p class="weight">400 g</p>
                                <p class="subtext">Tender redfish, cream sauce based on<br> white wine</p>
                                <p class="price">400 UAH</p>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-category-item">
                        <h3 class="subtitle">Side dishes and snacks</h3>
                        <ul class="side-dishes">
                            <li class="item">
                                <p class="marked-text">Baked vegetables</p>
                                <p class="weight">200 g</p>
                                <p class="subtext">Zucchini, pepper, tomato, eggplant</p>
                                <p class="price">230 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">French fries</p>
                                <p class="weight">150 g</p>
                                <p class="subtext">Potatoes, tomato sauce</p>
                                <p class="price">160 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Peasant-style potatoes</p>
                                <p class="weight">150 g</p>
                                <p class="subtext">Potatoes, spices, spicy sauces</p>
                                <p class="price">160 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Crisp pickles from the barrel</p>
                                <p class="weight">250 g</p>
                                <p class="subtext">Salted cucumber, pickled tomato,<br> sauerkraut, Korean carrot</p>
                                <p class="price">350 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Chicken wings in honey sauce</p>
                                <p class="weight">400 g</p>
                                <p class="subtext">Chicken wings, mustard-honey sauce, <br> served with carrots, celery and blue <br> cheese sauce</p>
                                <p class="price"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-category-item">
                        <h3 class="subtitle">Salads</h3>
                        <ul class="salads">
                            <li class="item">
                                <p class="marked-text">Caesar with chicken</p>
                                <p class="weight">230 g</p>
                                <p class="subtext">Chicken fillet, lettuce, cherry tomatoes,<br> Parmesan cheese, croutons, Caesar sauce</p>
                                <p class="price">450 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Caesar with shrimp</p>
                                <p class="weight">230 g</p>
                                <p class="subtext">Tiger shrimp, lettuce, cherry tomatoes, <br> parmesan cheese, croutons, caesar sauce</p>
                                <p class="price">300 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Greek salad</p>
                                <p class="weight">230 g</p>
                                <p class="subtext">Fresh cucumber, tomato, bell pepper,<br> olives, brynza cheese, lettuce, sauce</p>
                                <p class="price">280 UAH</p>
                            </li>
                            <li class="item">
                                <p class="marked-text">Meat salad</p>
                                <p class="weight">230 g</p>
                                <p class="subtext">Chicken fillet or pork tenderloin, fresh <br> cucumber, tomato, bell pepper, ranch sauce</p>
                                <p class="price">300 UAH</p>
                            </li>
                        </ul>
                    </div>  
                    <div class="menu-category-item">
                        <div class="menu-category-wrap">
                            <h3 class="subtitle">Desserts</h3>
                            <ul class="deserts">
                                <li class="item">
                                    <p class="marked-text">Napoleon cake</p>
                                    <p class="price">200 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Poppy cake</p>
                                    <p class="price">300 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Tiramisu</p>
                                    <p class="price">260 UAH</p>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-category-wrap">
                            <h3 class="subtitle">Drinks</h3>
                            <ul class="drinks">
                                <li class="item">
                                    <p class="marked-text">Black/green tea</p>
                                    <p class="price">100 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Espresso</p>
                                    <p class="price">100 UAH</p>
                                </li>
                                <li class="item">
                                    <p class="marked-text">Cappuccino</p>
                                    <p class="price">100 UAH</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>