.ppr label{
    width: 100%;
    position: relative;

    font-weight: 400;
    font-size: 8px;
    line-height: 12px;

    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: var(--subtext);
} 


.ppr select {
    width: 100%;
    padding-bottom: 18px;
    appearance: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--button);

    background-color: transparent;
    border: none;
    border-bottom: 0.8px solid #f7f7f733;
    outline: none;
}

.room-price {
    margin-bottom: 8px;
}


@media screen and (min-width: 768px){
    .ppr form{
        row-gap: 0;
    }
    
    .ppr label{
        width: calc((100% - 32px)/2);
    }
}