
.hotel-triple-room {
  background-color: var(--light);
}

 .hotel-triple-room .container {
  width: 100%;
  max-width: 375px;
 }

 .hotel-triple-room .room-photos {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
  padding-bottom: 32px;
}

.hotel-triple-room .room-photo-2 {
  display: flex;

  gap: 20px;
}

.hotel-triple-room .room-photo-1 picture, 
.hotel-triple-room .room-photo-2 picture {
  width: 100%;
  height: auto;
}

.hotel-triple-room .room-type {
  padding-bottom: 32px;

  color: var(--dark);
  
  font-family: inherit;
  font-weight: var(--bold);
  font-size: 32px;
  line-height: calc(40/32);
  letter-spacing: -0.02em;
}

.hotel-triple-room .room-description {
  display: flex;
  flex-flow: column;

  gap: 24px;
  padding-bottom: 28px;

  color: var(--dark);

  font-family: inherit;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: calc(18/14); 
  letter-spacing: -0.02em;
}

.hotel-triple-room .room-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 12px;
}

.hotel-triple-room .room-button {
  padding: 8px 18px;

  color: var(--dark);
  background-color: inherit;
  border: 0.8px solid var(--dark);
  border-radius: 32px;

  font-family: inherit;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: calc(18/14); 
  letter-spacing: -0.02em;
  text-transform: uppercase;

  transition: color var(--action-transition),
              background-color var(--action-transition);
}

.hotel-triple-room .room-button:is(:hover, :focus) {
  color: var(--light);
  background-color: var(--dark);
}



/* ============================== MEDIA ============================ */


@media screen and (min-width: 768px) {
  .hotel-triple-room .container {
    padding-left: 32px;
    padding-right: 32px;

    max-width: 768px;
   }

  .hotel-triple-room .room-photos {
    flex-wrap: nowrap;
  
    gap: 32px;
    padding-bottom: 40px;
  }
  
  .hotel-triple-room .room-photo-1 {
    width: auto;
  }
  
  .hotel-triple-room .room-photo-2 {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
  }

  .hotel-triple-room .room-type {
    font-size: 40px;
    line-height: calc(44/40);
  }

  .hotel-triple-room .room-description {
    flex-flow: row;

    gap: 32px;
    padding-bottom: 28px;

    font-size: 18px;
    line-height: calc(24/18); 
  }

  .hotel-triple-room .room-description .p-first {
    width: 355px;
  }

  .hotel-triple-room .room-description .p-second {
    width: 299px;
  }

  .hotel-triple-room .room-button {
    padding: 8px 24px;

    line-height: calc(24/14); 
  }  
}


@media screen and (min-width: 1440px) {

  .hotel-triple-room .container {
    position: relative;
    max-width: 1440px;
   }
  
  .hotel-triple-room .room-photos {
    justify-content: center;
    align-items: center;
  }
  
  .hotel-triple-room .room-photo-2 {
    position: absolute;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;

    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .hotel-triple-room .room-photo-2 picture {
    width: auto;
  }

  .hotel-triple-room .room-photos {
    padding-bottom: 50px;
  }

  .desktop-positioning {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: row-reverse;
  }

  .hotel-triple-room .room-button {
    font-size: 18px;
    line-height: calc(24/18);
  }
}