.hotel-hero.section {
  padding-top: 40px;

  background-color: #F7F7F7;
}
.hotel-hero-title {
  margin-bottom: 24px;

  color: #121212;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.hotel-hero-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}
.hotel-hero-btn.btn {
  padding: 8px 18px;

  background-color: transparent;
  border-color: var(--dark);
  border-radius: 32px;

  color: var(--dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.hotel-hero-slider {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}
.container-btn {
  width: 104px;
  margin-left: auto;
}
.btn-slider {
  padding: 0;
  border: none;
  background-color: transparent;
}
.hotel-hero-text {
  max-width: 335px;

  color: #121212;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }
}