
.hotel-four-seater-room {
  background-color: var(--light);
}

 .hotel-four-seater-room .container {
  width: 100%;
  max-width: 375px;
 }

 .hotel-four-seater-room .room-photos {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
  padding-bottom: 32px;
}

.hotel-four-seater-room .room-photo-1 picture, 
.hotel-four-seater-room .room-photo-2 picture {
  width: 100%;
  height: auto;
}

.hotel-four-seater-room .room-photo-2 {
  display: flex;

  gap: 20px;
}

.hotel-four-seater-room .room-type {
  padding-bottom: 32px;

  color: var(--dark);
  
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(40/32);
  letter-spacing: -0.02em;
}

.hotel-four-seater-room .room-description {
  display: flex;
  flex-flow: column;

  gap: 24px;
  padding-bottom: 28px;

  color: var(--dark);

  font-family: inherit;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: calc(18/14); 
  letter-spacing: -0.02em;
}

.hotel-four-seater-room .room-buttons {
  display: flex;
  flex-direction: row;

  gap: 12px;
}

.hotel-four-seater-room .room-button {
  padding: 8px 18px;

  color: var(--dark);
  background-color: inherit;
  border: 0.8px solid var(--dark);
  border-radius: 32px;

  font-family: inherit;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: calc(18/14); 
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: color 300ms var(--action-transition),
              background-color 300ms var(--action-transition);
}

.hotel-four-seater-room .room-button:is(:hover, :focus) {
  color: var(--light);
  background-color: var(--dark);

}  


/* ============================== MEDIA ============================ */

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 80px;
  }

  .hotel-four-seater-room .container {
    padding-left: 32px;
    padding-right: 32px;

    max-width: 768px;
   }

   .hotel-four-seater-room .room-photos {
    flex-direction: row-reverse;
  
    gap: 32px;
    padding-bottom: 40px;
  }
  
  .hotel-four-seater-room .room-photo-1 {
    width: auto;
  }
  
  .hotel-four-seater-room .room-photo-2 {
    flex-direction: column;

    gap: 32px;
  }

  .hotel-four-seater-room .room-photo-2 .bathroom {
    width: 223px;
    margin-left: auto;
  }

  .hotel-four-seater-room .room-type {
    font-size: 40px;
    line-height: calc(44/40);
  }

  .hotel-four-seater-room .room-description {
    flex-flow: row;

    padding-bottom: 40px;

    font-size: 18px;
    line-height: calc(24/18); 
  }

  .hotel-four-seater-room .room-description .p-first {
    width: 475px;
  }

  .hotel-four-seater-room .div-for-room-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .hotel-four-seater-room .room-button {
    padding: 8px 24px;
  
    line-height: calc(24/14); 
  }  
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 100px;
  }

  .hotel-four-seater-room .container {
    position: relative;
    max-width: 1440px;
   }
  
  .hotel-four-seater-room .room-photos {
    justify-content: center;
    align-items: center;
  }
  
  .hotel-four-seater-room .room-photo-2 {
    position: absolute;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;

    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .hotel-four-seater-room .room-photo-2 picture {
    width: auto;
  }

  .hotel-four-seater-room .room-photo-2 .bathroom {
    width: auto;
    margin-left: 0;
  }

  .hotel-four-seater-room .room-photos {
    padding-bottom: 50px;
  }

  .hotel-four-seater-room .room-button {
    font-size: 18px;
    line-height: calc(24/18);
  }
}
