/* основні стилі секції location */
.main-location{
    padding-top: 64px;
    padding-bottom: 64px;
}
.main-map {
    filter: grayscale(100%);
    width: 100%;
    height: 384px;
    display: flex;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.main-title-loc {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: #121212;
    margin-bottom: 32px;
}
.main-title-desktop{
    display: none;
}

.main-adress {
    display: block;
    margin-top: 32px;
}

.main-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.contacts-call-us {
    display: block;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 12px;
}

.main-adress-item {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #000000;
}

.main-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #121212;
}


.btn-main-room.btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    padding: 8px 18px;   
}

/* медіа запити */

@media screen and (min-width: 768px){
    .main-location{
        padding-top: 80px;
        padding-bottom: 80px;
    }

.container.main-location-container{
    max-width: 768px;
    width: 100%;
}

.main-title-loc{
    margin-bottom: 40px;
    font-size: 68px;
}

.main-contact{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
}

.main-location {
    display: flex;
    align-content: space-between;
    flex-direction: column;

    padding-bottom: 80px;
}

.main-map{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 576px;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.main-map iframe{ 
    height: 100%;
    width: 100%;
}

.main-adress{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    } 
.main-adress-item{
    margin-bottom: 0;;
}
.main-adress{
    margin-bottom: 0
}
.contacts-call-us{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
}
}

@media screen and (min-width: 1440px) {
    .container.main-location-container{
        position: relative;
        max-width: 1440px;
        width: 100%;
        height: 100%;
    }

    .main-title-desktop {
        display: block;
        font-weight: 500;
        font-size: 68px;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .main-map{
        width: 640px;
        height: 524px;
    }
    
    .main-title-loc{
        display: none;
    }

    .main-location-container{
        display: flex;
        gap: 32px;
    }

    .location-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-adress{
        display: flex;
        gap: 70px;
        align-items: flex-start;
    }

    .contacts-call-us{
        align-self: flex-start;
        font-size: 14px;
        line-height: 18px;
    }

    .main-contact{
        font-size: 18px;
        line-height: 24px;  
    }

    .contacts-call-us-wrap{
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }


    

    
    

}