/* основні стилі секції location */
.maine-map {
    filter: grayscale(100%);
    width: 100%;
    height: 384px;
    display: flex;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.main-location{
    justify-content: center;
    padding: 20px;
}

.main-title-loc {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: #121212;
    padding-bottom: 32px;
    padding-top: 64px;
}

.main-adress {
    display: block;
    padding-top: 32px;
    padding-bottom: 68px;
}

.main-adress-item {
    padding-bottom: 28px;
}

.main-contact {
    width: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.contacts-call-us {
    display: block;
    font-weight: 500;
    padding-bottom: 12px;
}

.main-adress-item {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #000000;
}

.main-contacts,
.contacts-call-us {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #121212;
}

.contacts-call-us {
    padding-bottom: 12px;
}

.btn-main-room.btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    padding: 8px 18px;   
}
.main-location-position{
    align-items: center;
    justify-content: center;
}
/* медіа запити */

@media screen and (min-width: 375px) and (max-width: 767px){
.maine-map{
    width: 100%;
    height: 384px;
}
}

@media screen and (min-width: 768px){
.main-location-position{
    display: flex;
    /* max-width: 704px; */
    padding: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.main-title-loc{
    padding-bottom: 40px;
    padding-top: 48px;
}

.main-location {
    /* width: 704px; */
    /* height: 796px; */
    padding: 32px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}

.maine-map{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 376px;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.maine-map iframe{ 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-adress{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    }    
}

@media screen and (min-width: 1440px) {
    .container.main-location{
        max-width: 1440px;
    }
.main-location {
    display: block;
    padding-left: 64px auto;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    min-width: 640px;
    }

.main-title-loc{
    font-weight: 500;
    font-size: 68px;
    line-height: 1;
    position: absolute;
    top: 100px;
    left: 860px;
    padding: 0;
}

.main-location-position {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding-top: 80px;
    /* position: relative; */
    }

.maine-map {
    overflow: hidden;
    position: relative;
    max-width: 640px;
    height: 524px;
    flex-shrink: 0;
    flex-grow: 2;
}

.maine-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-adress {
    gap: 70px;
    padding-bottom: 0;
    min-width: 350px;
    position: relative;
}

.main-contact {
    text-align: right;
}
}
