.main-about-container {
max-width: 335px;
}

.main-about-subtitle {
  font-weight: var(--regular);
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.18em;
color: #484848;
margin-top: 32px;
margin-bottom: 18px;
}

.main-about-text {
  font-weight: var(--medium);
font-size: 14px;
line-height: 18px;
/* or 129% */

letter-spacing: -0.02em;
text-transform: uppercase;

color: #121212;

}