/* --- section --- */

.main-about-section {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light);
}

.main-about-container {
  width: 100%;
  max-width: 375px;
}

/* --- text-content --- */

.main-about-subtitle {
  font-weight: var(--regular);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.18em;
  color: #484848;
  margin-top: 32px;
  margin-bottom: 18px;
}

.main-about-text {
  font-weight: var(--medium);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;

  color: var(--dark);
}

.main-about-text:not(:last-child) {
  margin-bottom: 14px;
}

/* --- img-content --- */
.image-origin {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  margin-top: 20px;
  position: relative;
}

/* --- feedback-block --- */

.feedback-block.maria {
  position: absolute;
  top: -42px;
  right: 0;
}

.feedback-block {
  display: flex;
  width: 212px;
  background: var(--dark);
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.author-photo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 12px;
}

.text-wrap {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.author-name {
  font-weight: var(--medium);
  font-size: 14px;
  line-height: calc(14 / 14);

  color: var(--button);
  text-transform: none;
  margin-bottom: 7px;
}

.feedback-text {
  font-weight: var(--regular);
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #575757;

  text-transform: lowercase;
}

.feedback-text .rating {
  font-style: normal;
  color: var(--button);
}

/* --- adaptive --- */

@media screen and (min-width: 768px) {
  .main-about-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .main-about-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .ab-hotel-photos {
    position: relative;
    display: flex;

    max-width: 482px;
  }

  .ab-hotel-photo-bathroom {
    position: absolute;
    right: -222px;
    top: 209px;
    bottom: 208px;
  }

  .thumb .feedback-block.maria {
    top: -33px;
    right: 122px;
  }

  .main-about-desription {
    max-width: 472px;
  }
}

@media screen and (min-width: 1440px) {
  .main-about-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-about-container {
    max-width: 1440px;

    display: flex;
    align-items: center;
  }

  .main-about-container.ab-restaurants {
    max-width: 1200px;
  }

  .ab-hotel-photo-bathroom {
    right: -257px;
  }
  .thumb .feedback-block.maria {
    right: 157px;
  }

  .main-about-desription {
    margin-left: auto;
    margin-right: 57px;
  }
}
