<section>
  <h1 class="room-hero-title">double luxury room</h1>
  <button type="button">veiw prices</button>
  <p class="room-hero-description">
    The Mimino hotel features spacious and stylish double luxury rooms with
    modern amenities for a comfortable stay.
  </p>
  <ul class="room-hero-image-list">
    <li class="room-hero-image-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/.jpg 1x, ./img/.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/.jpg 1x, ./img/.jpg 2x"
        />
        <source
          media="(max-width: 375px)"
          srcset="./img/.jpg 1x, ./img/.jpg 2x"
        />
        <img src="./img/.jpg " alt="Room veiw" width="436" />
      </picture>
    </li>
    <li class="room-hero-image-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/.jpg 1x, ./img/.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/.jpg 1x, ./img/.jpg 2x"
        />
        <source
          media="(max-width: 375px)"
          srcset="./img/.jpg 1x, ./img/.jpg 2x"
        />
        <img src="./img/.jpg " alt="Kitchen veiw" width="436" />
      </picture>
    </li>
  </ul>
</section>
