<section class="room-features">
  <div class="container">
    <ul class="room-features-list">
      <li class="room-features-list-item">
        <h2 class="room-features-title">General Amenities & Facilities:</h2>
        <ul class="room-features-sublist">
          <li>24-hour front desk service</li>
          <li>Daily housekeeping</li>
          <li>Free Wi-Fi throughout the hotel</li>
          <li>Elevator access</li>
          <li>Luggage storage</li>
          <li>Non-smoking rooms available</li>
          <li>Meeting rooms for business and events</li>
          <li>On-site parking (surcharge)</li>
          <li>Concierge services</li>
        </ul>
      </li>
      <li class="room-features-list-item">
        <h2 class="room-features-title">Bathroom:</h2>
        <ul class="room-features-sublist">
          <li>Private bathroom with shower</li>
          <li>Complimentary toiletries</li>
          <li>Hair dryer</li>
          <li>Fresh towels daily</li>
          <li>Deluxe bathrobes (in some room categories)</li>
        </ul>
      </li>
      <li class="room-features-list-item">
        <h2 class="room-features-title">Bedroom:</h2>
        <ul class="room-features-sublist">
          <li>Comfortable beds with high-quality linens</li>
          <li>Blackout curtains</li>
          <li>Climate control (air conditioning and heating)</li>
          <li>Safe for valuables</li>
          <li>Writing desk and chair</li>
          <li>Flat-screen TV with cable channels</li>
        </ul>
      </li>
      <li class="room-features-list-item">
        <h2 class="room-features-title">Kitchen:</h2>
        <ul class="room-features-sublist">
          <li>In-room kitchenette (in some room categories)</li>
          <li>Refrigerator</li>
          <li>Microwave</li>
          <li>Electric kettle</li>
          <li>Cooking utensils and cutlery</li>
          <li>Dining table and chairs</li>
        </ul>
      </li>
      <li class="room-features-list-item">
        <h2 class="room-features-title">Media:</h2>
        <ul class="room-features-sublist">
          <li>Flat-screen TV with cable channels</li>
          <li>High-speed Wi-Fi</li>
          <li>iPod docking station</li>
          <li>Speaker system</li>
          <li>Electrical outlets for charging devices.</li>
        </ul>
      </li>
    </ul>
    <div class="room-features-bottom-box">
      <div class="room-features-bottom-box-upper-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/room-page/room-amenities/desktop/rm-amn-img-1-desk@1x.jpg 1x,
              /img/room-page/room-amenities/desktop/rm-amn-img-1-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/room-page/room-amenities/tablet/rm-amn-img-1-tab@1x.jpg 1x,
              /img/room-page/room-amenities/tablet/rm-amn-img-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/room-page/room-amenities/mobile/rm-amn-img-1-mob@1x.jpg 1x,
              /img/room-page/room-amenities/mobile/rm-amn-img-1-mob@2x.jpg 2x
            "
          />
          <img
            src="/img/room-page/room-amenities/desktop/rm-amn-img-1-desk@1x.jpg"
            alt="Moisturiser tube"
          />
        </picture>
      </div>
      <div class="room-features-bottom-box-lower-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/room-page/room-amenities/desktop/rm-amn-img-2-desk@1x.jpg 1x,
              /img/room-page/room-amenities/desktop/rm-amn-img-2-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/room-page/room-amenities/tablet/rm-amn-img-2-tab@1x.jpg 1x,
              /img/room-page/room-amenities/tablet/rm-amn-img-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/room-page/room-amenities/mobile/rm-amn-img-2-mob@1x.jpg 1x,
              /img/room-page/room-amenities/mobile/rm-amn-img-2-mob@2x.jpg 2x
            "
          />
          <img
            src="/img/room-page/room-amenities/desktop/rm-amn-img-2-mob@1x.jpg.jpg"
            alt="Bathroom veiw"
          />
        </picture>
      </div>
      <button class="btn btn-features" type="button" data-modal-br-open>
        Book a room
      </button>
    </div>
  </div>
</section>
