<!-- ==== Modal Room ===== -->


<div class="modal-backdrop is-hidden ppr" data-modal-ppr>
    <div class="modal-window room-window">
        <h3 class="modal-title">Prices per room</h3>
        <p class="modal-subtitle">double suite</p>
        <button class="modal-close-button" type="button" data-modal-ppr-close>
            <svg class="modal-close-icon" width="28px" height="28px">
                <use href="../../img/icons.svg#close-icon"></use>
            </svg>
        </button>
        <form class="modal-form modal-form-ppr">
            <div class="field-wrap">
                <label class="" for="nights-number">
                    <select class="" id="nights-number" name="nights-number">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <svg class="modal-arrow" width="20px" height="20px">
                        <use href="../../img/icons.svg#arrow-down"></use>
                    </svg>
                    number of nights
                </label>
                <label class="field-description">
                    <input class="modal-field" type="number" placeholder="1000" pattern="[0-9]">uah
                </label>
            </div>
            <button class="modal-btn btn" type="submit">Make a reservation</button>
        </form>


    </div>
</div>