<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../../css/base/reset.css" />
<link rel="stylesheet" href="../../css/base/common.css" />
<link rel="stylesheet" href="/src/css/utils/hidden.css" />
<link rel="stylesheet" href="../../css/pages/modal/prices-modal.css" />

<div class="modal-backdrop is-hidden" data-modal-ppr>
    <div class="modal-window">
        <button class="modal-close-button" type="button" data-modal-ppr-close>
            <svg class="modal-close-icon" width="28px" height="28px">
                <use href="../../img/icons.svg#close-icon"></use>
            </svg>
        </button>
        <h3 class="modal-title">Prices per room</h3>
        <p class="modal-subtitle">double suite</p>
        <form action="" class="modal-form>">
            <label class=" field-description" for="nights-number"></label>
            <select class="modal-field number-field " id="nights-number" name="people_number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <label class="field-description" for="nights-number">number of nights</label>
            <select class="modal-field number-field " id="date_in" name="people_number">
                <option value="today">today</option>
                <option value="tomorrow">tomorrow</option>
                <option value="the day after tomorrow">next day after tomorrow</option>
            </select>
            <label class="field-description" for="date_in">Check-in date</label>
            <button class="modal-btn btn" type="submit" data-modal-ppr-close>Make a reservation
            </button>
        </form>

    </div>
</div>