    <!-- ==== Modal Room window ===== -->

    <div class="modal-backdrop is-hidden" data-modal-br>
        <div class="modal-window room-window">
            <h3 class="modal-title">Book <span>a room</span></h3>
            <button class="modal-close-button" type="button" data-modal-br-close>
                <svg class="modal-close-icon" width="28px" height="28px">
                    <use  href="../../img/icons.svg#close-icon"></use>
                </svg>
            </button>
            <form class="modal-form">
                <label class="field-description" for="room_name">
                    <input class="modal-field modal-name"
                    id="room_name" 
                    type="text" 
                    name="user_name" 
                    pattern="[a-zA-Zа-яА-я]+" 
                    minlength="2" 
                    placeholder="your name"
                    required >
                    <span class="modal-span">Who should book a room for?</span> 
                </label>

                <label class="field-description" for="room_tel">
                    <input 
                    class="modal-field modal-tel" 
                    id="room_tel" 
                    type="tel" 
                    name="user_phone" 
                    title="xxx-xxx-xx-xx" 
                    placeholder="+ 38 ()" required>
                    <span class="modal-span">Phone Number</span> 
                </label>

                <label class="field-description" for="date_in">
                    <select class="modal-field check-in-field" id="date_in" name="people_number">
                        <option value="today">TODAY</option>
                        <option value="tomorrow">TOMORROW</option>
                        <option value="the day after tomorrow">THE DAY AFTER TOMORROW</option>
                    </select>
                    <svg class="modal-arrow" width="20px" height="20px">
                        <use  href="../../img/icons.svg#arrow-down"></use>
                    </svg>
                    <span class="modal-span">Check-in date</span>
                </label>

                <label class="field-description check-out-date" for="date_out">
                    <select class="modal-field check-out-field " id="date_out" name="people_number">
                        <option value="today">TODAY</option>
                        <option value="tomorrow">TOMORROW</option>
                        <option value="the day after tomorrow">THE DAY AFTER TOMORROW</option>
                    </select>
                    <svg class="modal-arrow" width="20px" height="20px">
                        <use  href="../../img/icons.svg#arrow-down"></use>
                    </svg>
                    <span class="modal-span">Check-out date</span>
                </label>

                <label class="field-description" for="suite_type">
                    <select class="modal-field suite-type" id="suite_type" name="suite_type">
                        <option value="double">Double suite</option>
                        <option value="triple">Triple room</option>
                        <option value="four">Four-seater room</option>
                    </select>
                    <svg class="modal-arrow" width="20px" height="20px">
                        <use  href="../../img/icons.svg#arrow-down"></use>
                    </svg>
                    <span class="modal-span">Number category</span>
                </label>

            </form>
            <button class="modal-btn btn" type="submit">Make a reservation</button>

        </div>
    </div>







