<!-- / ====== Temporary css links ===== -->

<link rel="stylesheet" href="../../css/base/common.css" />
<link rel="stylesheet" href="../../css/base/reset.css" />
<link rel="stylesheet" href="../../css/pages/modal/room-modal.css" />
<link rel="stylesheet" href="../../css/pages/modal/table-modal.css" />



<div class="modal-backdrop">
    <div class="modal-window">
        <p class="modal-title">Book <span>a room</span></p>
        <form class="modal-form">
            <label class="field-description">
                <input class="modal-field modal-name" 
                type="text" 
                name="user_name" 
                pattern="[a-zA-Zа-яА-я]+" 
                minlength="2" 
                placeholder="your name"
                required >
            Who should book a room for?
            </label>

            <label class="field-description">
                <input class="modal-field modal-tel" type="tel" name="user_phone" title="xxx-xxx-xx-xx" placeholder="+ 38 ()" required>
            Phone number
            </label>

            <label class="field-description">
                <input class="modal-field modal-date" type="date" name="date" min="2023-02-25" max="2025-01-01">
            Check-in date
            </label>

            <label class="field-description">
                <input class="modal-field modal-date" type="date" name="date" min="2023-02-25" max="2025-01-01">
            Check-out date
            </label>

            <select class="modal-field suite-type" id="suite_type" name="suite_type">
                <option value="double" checked>Double suite</option>
                <option value="triple">Triple room</option>
                <option value="four">Four-seater room</option>
            </select>
            <label class="field-description" for="suite_type">Number category</label>

            <button class="modal-btn btn" type="submit">Make a reservation</button>

        </form>
    </div>
</div>