<section class="section hotel-triple-room">

  <div class="container">

    <div class="room-photos">

      <div class="room-photo-1">
        <picture class="bedroom">
          <source srcset="../img/hotel-page/hotel-triple/desktop/tr-img-1-desk@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/desktop/tr-img-1-desk@2x.jpg 2x"
                          type="image/jpeg"
                          media="(min-width: 1440px)" />
          <source srcset="../img/hotel-page/hotel-triple/tablet/tr-img-1-tab@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/tablet/tr-img-1-tab@2x.jpg 2x"
                          type="image/jpeg"
                          media="(min-width: 768px)" />
          <source srcset="../img/hotel-page/hotel-triple/mobile/tr-img-1-mob@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/mobile/tr-img-1-mob@2x.jpg 2x"
                          type="image/jpeg"
                          media="(max-width: 767px)" />
          <img 
            src="../img/hotel-page/hotel-triple/desktop/tr-img-1-desk@1x.jpg"
            loading="lazy"
            alt="bedroom" 
          />
        </picture> 
      </div>  

      <div class="room-photo-2"> 
        <picture class="bathroom">
          <source srcset="../img/hotel-page/hotel-triple/desktop/tr-img-2-desk@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/desktop/tr-img-2-desk@2x.jpg 2x"
                          type="image/jpeg"
                          media="(min-width: 1440px)" />
          <source srcset="../img/hotel-page/hotel-triple/tablet/tr-img-2-tab@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/tablet/tr-img-2-tab@2x.jpg 2x"
                          type="image/jpeg"
                          media="(min-width: 768px)" />
          <source srcset="../img/hotel-page/hotel-triple/mobile/tr-img-2-mob@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/mobile/tr-img-2-mob@2x.jpg 2x"
                          type="image/jpeg"
                          media="(max-width: 767px)" />
          <img 
            src="../img/hotel-page/hotel-triple/desktop/tr-img-2-desk@1x.jpg"
            loading="lazy"
            alt="bathroom" 
          />
        </picture> 

        <picture class="kitchen">
          <source srcset="../img/hotel-page/hotel-triple/desktop/tr-img-3-desk@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/desktop/tr-img-3-desk@2x.jpg 2x"
                          type="image/jpeg"
                          media="(min-width: 1440px)" />
          <source srcset="../img/hotel-page/hotel-triple/tablet/tr-img-3-tab@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/tablet/tr-img-3-tab@2x.jpg 2x"
                          type="image/jpeg"
                          media="(min-width: 768px)" />
          <source srcset="../img/hotel-page/hotel-triple/mobile/tr-img-3-mob@1x.jpg 1x,
                          ../img/hotel-page/hotel-triple/mobile/tr-img-3-mob@2x.jpg 2x"
                          type="image/jpeg"
                          media="(max-width: 767px)" />
          <img 
            src="../img/hotel-page/hotel-triple/desktop/tr-img-3-desk@1x.jpg"
            loading="lazy"
            alt="kitchen" 
          />
        </picture> 
      </div>  
    </div>


    <div class="desktop-positioning">
      <div>
        <h2 class="room-type">
            Triple Room
        </h2>

        <div class="room-description">
          <div class="p-first">
            <p>
              Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </div>
          <div class="p-second">
            <p>
              Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
            </p>
          </div>
        </div> 
      </div>

      <div>
        <ul class="room-buttons">
            <li class="room-button">
              <a
                href="./room.html"
                rel="noopener nofollow noreferrer"
              >
                More details
              </a>
            </li>

            <li>
                <button type="button" 
                class="room-button" data-modal-ppr-open>View prices</button>
            </li>
          </ul>
      </div>

    </div>
  </div> 
</section>