<section class="hotel-hero section">
  <div class="container">
    <div class="container-hotel">
      <div class="container-hotel-title">
        <h1 class="hotel-hero-title">Hotel</h1>
      <ul class="hotel-hero-list list">
        <li class="hotel-hero-item">
          <button type="button" class="hotel-hero-btn btn">book a room</button>
        </li>
        <li class="hotel-hero-item">
          <button type="button" class="hotel-hero-btn btn">View prices</button>
        </li>
      </ul>
      </div>
      <div class="hotel-hero-slider">
        <div class="hotel-photo-slider">
          <div>
            <picture>
              <source srcset="../../img/hotel-page/hotel-hero/desktop/htl-hero-img-3-desk@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/desktop/htl-hero-img-3-desk@2x.jpg 2x"
              media="(min-width: 1440px)">
              
              <source srcset="../../img/hotel-page/hotel-hero/tablet/htl-hero-img-1-tab@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/tablet/htl-hero-img-1-tab@2x.jpg 2x"
              media="(min-width: 768px)">
              
              <source srcset="../../img/hotel-page/hotel-hero/mobile/htl-hero-img-1-mob@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/mobile/htl-hero-img-1-mob@2x.jpg 2x"
              media="(max-width: 767px)">
              
              <img src="../../img/hotel-page/hotel-hero/mobile/htl-hero-img-1-mob@1x.jpg" alt="hotel photo"/>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="../../img/hotel-page/hotel-hero/desktop/htl-hero-img-2-desk@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/desktop/htl-hero-img-2-desk@2x.jpg 2x"
              media="(min-width: 1440px)">
              
              <source srcset="../../img/hotel-page/hotel-hero/tablet/htl-hero-img-2-tab@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/tablet/htl-hero-img-2-tab@2x.jpg 2x"
              media="(min-width: 768px)">
              
              <source srcset="../../img/hotel-page/hotel-hero/mobile/htl-hero-img-2-mob@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/mobile/htl-hero-img-2-mob@2x.jpg 2x"
              media="(max-width: 767px)">
              
              <img src="../../img/hotel-page/hotel-hero/mobile/htl-hero-img-2-mob@1x.jpg" alt="hotel photo"/>
            </picture>
          </div>
          <div>
            <picture>
              <source srcset="../../img/hotel-page/hotel-hero/desktop/htl-hero-img-1-desk@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/desktop/htl-hero-img-1-desk@2x.jpg 2x"
              media="(min-width: 1440px)">
              
              <source srcset="../../img/hotel-page/hotel-hero/tablet/htl-hero-img-3-tab@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/tablet/htl-hero-img-3-tab@2x.jpg 2x"
              media="(min-width: 768px)">
              
              <source srcset="../../img/hotel-page/hotel-hero/mobile/htl-hero-img-3-mob@1x.jpg 1x,
              ../../img/hotel-page/hotel-hero/mobile/htl-hero-img-3-mob@2x.jpg 2x"
              media="(max-width: 767px)">
              
              <img src="../../img/hotel-page/hotel-hero/mobile/htl-hero-img-3-mob@1x.jpg" alt="hotel photo"/>
            </picture>
          </div>
        </div>
      </div>
    </div>
      <div class="container-btn">
        <button class="btn-slider hotel-btn-left" type="button">
          <svg width="36" height="36">
            <use href="../../img/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="btn-slider hotel-btn-right" type="button">
          <svg width="36" height="36">
            <use href="../../img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <p class="hotel-hero-text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or
        <span>a romantic dinner</span>, our menu has something for everyone.
      </p>
  </div>
  <script src="../../js/hotel-hero-slider.js" ></script>
</section>