<section class="hotel-double section">
  <div class="container">
    <ul class="hotel-double-list">
      <li class="hotel-double-item">
        <picture>
          <source srcset="../../img/hotel-page/hotel-double/desktop/dr-img-2-desk@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/desktop/dr-img-2-desk@2x.jpg 1x2x"
          media="(min-width: 1440px)">
          
          <source srcset="../../img/hotel-page/hotel-double/tablet/dr-img-3-tab@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/tablet/dr-img-3-tab@2x.jpg 2x"
          media="(min-width: 768px)">
          
          <source srcset="../../img/hotel-page/hotel-double/mobile/dr-img-1-mob@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/mobile/dr-img-1-mob@2x.jpg 2x"
          media="(max-width: 767px)">
          
          <img src="../../img/hotel-page/hotel-double/mobile/dr-img-1-mob@1x.jpg" alt="interior"/>
        </picture>
      </li>
      <li class="hotel-double-item">
        <picture>
          <source srcset="../../img/hotel-page/hotel-double/desktop/dr-img-3-desk@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/desktop/dr-img-3-desk@2x.jpg 1x2x"
          media="(min-width: 1440px)">
          
          <source srcset="../../img/hotel-page/hotel-double/tablet/dr-img-1-tab@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/tablet/dr-img-1-tab@2x.jpg 2x"
          media="(min-width: 768px)">
          
          <source srcset="../../img/hotel-page/hotel-double/mobile/dr-img-2-mob@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/mobile/dr-img-2-mob@2x.jpg 2x"
          media="(max-width: 767px)">
          
          <img src="../../img/hotel-page/hotel-double/mobile/dr-img-2-mob@1x.jpg" alt="interior"/>
        </picture>
      </li>
      <li class="hotel-double-item">
        <picture>
          <source srcset="../../img/hotel-page/hotel-double/desktop/dr-img-1-desk@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/desktop/dr-img-1-desk@2x.jpg 1x2x"
          media="(min-width: 1440px)">
          
          <source srcset="../../img/hotel-page/hotel-double/tablet/dr-img-2-tab@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/tablet/dr-img-2-tab@2x.jpg 2x"
          media="(min-width: 768px)">
          
          <source srcset="../../img/hotel-page/hotel-double/mobile/dr-img-3-mob@1x.jpg 1x,
          ../../img/hotel-page/hotel-double/mobile/dr-img-3-mob@2x.jpg 2x"
          media="(max-width: 767px)">
          
          <img src="../../img/hotel-page/hotel-double/mobile/dr-img-3-mob@1x.jpg" alt="interior"/>
        </picture>
      </li>
    </ul>
    <h2 class="hotel-double-title">DOUBLE LUXURY ROOM</h2>
    <div class="text-container">
      <p class="hotel-double-text">
        Experience luxury in our Double Luxury Room at Mimino Hotel. This
        spacious room features a comfortable bed, private bathroom, flat-screen
        TV, and high-speed Wi-Fi. Climate control, blackout curtains, and
        soundproofing ensure a peaceful night's sleep.
      </p>
      <p class="hotel-double-text">
        Relax after a busy day at the writing desk or armchair. Book now for a
        convenient and comfortable stay.
      </p>
    </div>
    <ul class="hotel-btn-list list">
      <li class="hotel-btn-item">
        <a href="../../room.html" class="hotel-double-btn">More details</a>
      </li>
      <li class="hotel-btn-item">
        <button type="button" class="hotel-double-btn" data-modal-ppr-open>View prices</button>
      </li>
    </ul>
  </div>
</section>