
<section class="section hotel-four-seater-room">

    <div class="container">
  
      <div class="room-photos">

        <div class="room-photo-1">
          <picture class="bedroom">
            <source srcset="./img/hotel-page/hotel-four/desktop/fr-img-1-desk@1x.jpg 1x,
                            ./img/hotel-page/hotel-four/desktop/fr-img-1-desk@2x.jpg 2x"
                            type="image/jpeg"
                            loading="lazy" media="(min-width: 1440px)" />
            <source srcset="./img/hotel-page/hotel-four/tablet/fr-img-1-tab@1x.jpg 1x,
                            ./img/hotel-page/hotel-four/tablet/fr-img-1-tab@2x.jpg 2x"
                            type="image/jpeg"
                            loading="lazy" media="(min-width: 768px)" />
            <source srcset="./img/hotel-page/hotel-four/mobile/fr-img-1-mob@1x.jpg 1x,
                            ./img/hotel-page/hotel-four/mobile/fr-img-1-mob@2x.jpg 2x"
                            type="image/jpeg"
                            loading="lazy" media="(max-width: 767px)" />
            <img 
              src="./img/hotel-page/hotel-four/desktop/fr-img-1-desk@1x.jpg"
              loading="lazy"
              alt="bedroom" 
            />
          </picture> 
        </div>  

        <div class="room-photo-2"> 
        <picture class="bathroom">
          <source srcset="./img/hotel-page/hotel-four/desktop/fr-img-2-desk@1x.jpg 1x,
                          ./img/hotel-page/hotel-four/desktop/fr-img-2-desk@2x.jpg 2x"
                          type="image/jpeg"
                          loading="lazy" media="(min-width: 1440px)" />
          <source srcset="./img/hotel-page/hotel-four/tablet/fr-img-2-tab@1x.jpg 1x,
                          ./img/hotel-page/hotel-four/tablet/fr-img-2-tab@2x.jpg 2x"
                          type="image/jpeg"
                          loading="lazy" media="(min-width: 768px)" />
          <source srcset="./img/hotel-page/hotel-four/mobile/fr-img-2-mob@1x.jpg 1x,
                          ./img/hotel-page/hotel-four/mobile/fr-img-2-mob@2x.jpg 2x"
                          type="image/jpeg"
                          loading="lazy" media="(max-width: 767px)" />
          <img 
            src="./img/hotel-page/hotel-four/desktop/fr-img-2-desk@1x.jpg"
            loading="lazy"
            alt="bathroom" 
          />
        </picture> 

        <picture class="kitchen">
          <source srcset="./img/hotel-page/hotel-four/desktop/fr-img-3-desk@1x.jpg 1x,
                          ./img/hotel-page/hotel-four/desktop/fr-img-3-desk@2x.jpg 2x"
                          type="image/jpeg"
                          loading="lazy" media="(min-width: 1440px)" />
          <source srcset="./img/hotel-page/hotel-four/tablet/fr-img-3-tab@1x.jpg 1x,
                          ./img/hotel-page/hotel-four/tablet/fr-img-3-tab@2x.jpg 2x"
                          type="image/jpeg"
                          loading="lazy" media="(min-width: 768px)" />
          <source srcset="./img/hotel-page/hotel-four/mobile/fr-img-3-mob@1x.jpg 1x,
                          ./img/hotel-page/hotel-four/mobile/fr-img-3-mob@2x.jpg 2x"
                          type="image/jpeg"
                          loading="lazy" media="(max-width: 767px)" />
          <img 
            src="./img/hotel-page/hotel-four/desktop/fr-img-3-desk@1x.jpg"
            loading="lazy"
            alt="kitchen" 
          />
        </picture> 
      </div>  
    </div>

      
    <div class="desktop-positioning">
        <div>
          <h2 class="room-type">
            Four-seater room
          </h2>
      
          <div class="room-description">
            <p class="p-first">
                Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.
            </p>
          </div> 
        </div>

        <div class="div-for-room-buttons">
          <ul class="room-buttons">
              <li class="room-button">
                <a
                  href="./room.html"
                  rel="noopener nofollow noreferrer"
                >
                  More details
                </a>
              </li>
  
              <li>
                  <button type="button" 
                  class="room-button" data-modal-ppr-open>View prices</button>
              </li>
          </ul>
        </div>
        
    </div>  
  </div> 
</section>