.room-hero {
  background-color: #f7f7f7;
  padding-top: 40px;
}

.room-hero-title {
  font-weight: var(--regular);
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--dark);
  margin-bottom: 24px;
}
.room-hero-btn.btn {
  border-color: var(--dark);
  color: var(--dark);
  padding: 8px 18px;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.29;
  background-color: transparent;
}

.room-hero-btn.btn:is(:hover, :focus) {
  color: var(--background);
  border-color: var(--dark);
  background-color: var(--dark);
}

.room-hero-description {
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: var(--dark);
  width: 289px;
}

.room-hero-gallery {
  overflow: hidden;
  width: 355px;
  margin-bottom: 24px;
}
.room-hero .photo-slider {
  position: relative;
  right: 0;
  display: flex;
  gap: 20px;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.room-hero .button-wrap {
  width: 104px;
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-bottom: 40px;
}
/* ------------------------------768 Breakpoint----------------------- */

@media screen and (min-width: 768px) {
  .room-hero-title {
    margin-bottom: 18px;
    font-size: 60px;
    line-height: 1;
  }

  .room-hero-btn.btn {
    padding: 8px 24px;
    line-height: 1.71;
  }

  .room-hero-gallery {
    width: 736px;
    margin-bottom: 40px;
  }

  .room-hero .photo-slider {
    gap: 32px;
  }
  .room-hero .button-wrap {
    margin-bottom: 0;
  }

  .room-hero {
    position: relative;
  }
  .room-hero {
    padding-bottom: 156px;
  }

  .room-hero-description {
    position: absolute;
    bottom: 120px;
  }
}

/* ------------------------------1440 Breakpoint----------------------- */
@media screen and (min-width: 1440px) {
  .room-hero {
    padding-top: 30px;
    padding-bottom: 48px;
    position: relative;
  }
  .room-hero > .container {
    padding-left: 32px;
    padding-right: 0;
  }
  .room-hero-title {
    font-size: 80px;
    margin-top: 139px;
    margin-bottom: 32px;
  }

  .btn.room-hero-btn {
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 169px;
  }

  .room-hero-gallery {
    width: 705px;
    margin-left: auto;
    margin-bottom: 0;
    position: absolute;
    top: 30px;
    right: 0;
  }
  .room-hero .button-wrap {
    margin-bottom: 0;
    position: absolute;
    bottom: 30px;
    right: 600px;
  }

  .room-hero-description {
    position: static;
  }
}
