<header class="header">
  <nav class="nav">
    <button type="button" class="btn open-menu-btn">
      <svg class="open-menu-icon">
        <use href="#"></use>
      </svg>
    </button>
    <ul class="list nav-list">
      <li class="nav-item">
        <a href="./index.html" class="link nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="./restaurant.html" class="link nav-link">Restaurant</a>
      </li>
      <li class="nav-item">
        <a href="./hotel.html" class="link nav-link">Hotel</a>
      </li>
    </ul>
    <a class="link logo" href="./index.html">
      Mimino <span class="logo-subtitle">restaurant-hotel complex</span>
    </a>
  </nav>
  <address>
    <ul class="social-media-list">
      <li class="social-media-item">
        <a href="" class="social-media-link">
          <svg class="social-media-icon" width="" height="">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="" class="social-media-link">
          <svg class="social-media-icon" width="" height="">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="" class="social-media-link">
          <svg class="social-media-icon" width="" height="">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </address>
  <!-- ////////////////////////////// POP UP MENU \\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  <ul class="list popup-menu is-hidden">
    <li class="popup-menu-item">
      <a href="./index.html" class="link popup-menu-link">Home</a>
    </li>
    <li class="popup-menu-item">
      <a href="./restaurant.html" class="link popup-menu-link">Restaurant</a>
    </li>
    <li class="popup-menu-item">
      <a href="./hotel.html" class="link popup-menu-link">Hotel</a>
    </li>
  </ul>
</header>
