    <header class="header" id="header">
      <div class="header-container container">
        <button type="button" class="menu-btn">
          <svg class="menu-icon" id="menu-icon">
            <use href="../img/icons.svg#burger-icon" class="burger-icon" id="burger-icon"></use>
            <use href="./img/icons.svg#close-icon" class="cross-icon" id="cross-icon"></use>
          </svg>
        </button>
        <nav class="header-nav">
          <ul class="header-nav-list" id="header-nav-list">
            <li id="home" class="header-nav-item">
              <a href="../index.html"  class="link header-nav-link ">Home</a>
            </li>
            <li id="hotel" class="header-nav-item">
              <a href="../hotel.html"   class="link header-nav-link">Hotel</a>
            </li>
            <li id="restaurant" class="header-nav-item">
            
          <a href="./restaurant.html" class="link header-nav-link">Restaurant</a>

            </li>
          </ul>
        </nav>
        <a class="link header-logo" id="header-logo" href="../index.html">
          Mimino <span class="header-logo-subtitle">restaurant-hotel complex</span>
        </a>
        <address>
          <ul class="header-social-media-list">
            <li class="header-social-media-item">
              <a href="https://www.instagram.com/" class="header-social-media-link" target="_blank">
                <svg class="social-media-icon" id="soc-med-icon-inst" width="24" height="24">
                  <use href="../img/icons.svg#instagram-icon"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-media-item">
              <a href="https://www.facebook.com/" class="header-social-media-link" target="_blank">
                <svg class="social-media-icon" id="soc-med-icon-fb" width="24" height="24">
                  <use href="../img/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-media-item">
              <a href="https://twitter.com/" class="header-social-media-link" target="_blank">
                <svg class="social-media-icon" id="soc-med-icon-twitter" width="24" height="24">
                  <use href="../img/icons.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <!-- ////////////////////////////// POP UP MENU \\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
      <div class="popup-menu" id="popup-menu">
        <div class="container">
          <nav class="popup-nav">
            <ul class="popup-menu-list">
              <li class="popup-menu-item">
                <a href="../index.html" class="link popup-menu-link">Home</a>
              </li>
              <li class="popup-menu-item">
                <a href="../hotel.html" class="link popup-menu-link">Hotel</a>
              </li>
              <li class="popup-menu-item">
                <a href="../restaurant.html" class="link popup-menu-link">Restaurant</a>
              </li>
            </ul>
          </nav>
          <ul class="popup-social-media-list">
            <li class="popup-social-media-item">
              <a href="https://www.instagram.com/" class="popup-social-media-link" target="_blank">
                <svg class="social-media-icon" width="24" height="24">
                  <use href="../img/icons.svg#instagram-icon"></use>
                </svg>
              </a>
            </li>
            <li class="popup-social-media-item">
              <a href="https://www.facebook.com/" class="popup-social-media-link" target="_blank">
                <svg class="social-media-icon" width="24" height="24">
                  <use href="../img/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li class="popup-social-media-item">
              <a href="https://twitter.com/" class="popup-social-media-link" target="_blank">
                <svg class="social-media-icon" width="24" height="24">
                  <use href="../img/icons.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    