.header {
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
  height: 78px;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
  background-color: var(--dark);
}


.header-container {
  display: flex;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.header.secondary{
  background-color: #fff;
}

.header-nav {
  display: none;
}

.header-nav-item {
  position: relative;
}

.header-nav-list.secondary{
  color: var(--dark);
}

.header-nav-item.active.secondary::after{
  background-color: var(--dark);
}
/* .header-nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  height: 2px;
  background-color: var(--light);
} */

.header-nav-item:hover::after,
.header-nav-item:focus::after {
  display: block;
}

.header-nav-link {
  font-weight: var(--medium);
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--dark);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ----------------------------------------------- Active page marker -----------------------------------------------------------*/

/* .header-nav-item.active {
  position: relative;
}

.header-nav-item.active::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--dark);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
} */
/* -------------------------------------------------------- Logo ------------------------------------------------------------------ */

.header-logo {
  font-weight: var(--medium);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;


  letter-spacing: 0.18em;
  color: var(--light);
  text-align: center;
  margin-left: 83px;
}

.header-logo-subtitle {
  display: block;
  position: relative;
  top: 3px;
  font-weight: var(--regular);
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 8px;

  letter-spacing: 0.18em;
  text-transform: uppercase;
}

/* ---------------------------------------------------------- Social media --------------------------------------------------------------*/

.header-social-media-list {
  display: none;
}

.header-social-media-link {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-media-icon {
  stroke: var(--light);
}


/* ////////////////////////////////////////////////////// [POP-UP MOBILE MENU] \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* ------------------------------------------------ [Close / Open] Tooglers -------------------------------------------- */

.menu-btn{
  background-color: transparent;
  border: none;
  padding: 0;
}

.cross-icon{
  display: none;
}

.header .menu-icon{
  display: block;
  width: 28px;
  height: 28px;
  stroke:var(--light);
}

.popup-menu.open {
  transform: translateX(0);
}

/* ----------------------------------------------------------------------------------------------------------------- */
.popup-menu {
  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  transform: translateX(-100%);
  transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-menu.secondary{
  background-color: var(--light);
}

.popup-menu-link.secondary{
  color: var(--dark);
}

/* ------------------------------------------------- POP-UP-MENU NAVIGATION ------------------------------------------------- */

.popup-header {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.popup-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-logo {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-align: center;
  margin: 0 auto;
  color: var(--white);
}

.popup-logo-subtitle {
  display: block;
  position: relative;
  top: 3px;
  font-weight: var(--regular);
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.popup-menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  margin-top: 130px;
}

.popup-menu-item {
  gap: 10px;
}

.popup-menu-link {
  color: var(--white);
}

/* ------------------------------------------------- SET OF SOCIAL MEDIA LINKS ----------------------------------------------- */

.popup-social-media-list {
  position: absolute;
  left: 30px;
  bottom: 123px;
  display: flex;
  gap: 14px;
}

.popup-social-media-link > .social-media-icon {
  stroke: var(--white);
  fill: transparent;
}

.header .social-media-icon.secondary{
  stroke:black;
}


.header-logo.secondary{
  color:var(--dark);
}

.header .menu-icon.secondary{
  stroke: var(--dark);
}


/* ////////////////////////////////////////////////// [ADAPTATION FOR DIFFERENT DEVICES] \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* ---------------------------------------------------- [MOBILE] ------------------------------------------- */
@media screen and (min-width: 375px) {
  .header-container {
    max-width: 375px;
  }
}

/* --------------------------------------------------- [TABLET] ---------------------------------------------- */
@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }

  .header-social-media-list {
    display: flex;
    gap: 16px;
  }

  .popup-social-media-list {
    display: none;
  }

  .header .social-media-icon {
    stroke: var(--light);
  }

  .header-logo{
    margin-left: 246px;
    font-style: normal;

    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.18em;
  }

  .header .social-media-icon.secondary{
    stroke:black;
  }


  .header-logo.secondary{
    color:var(--dark);
  }

  .header .menu-icon{
    width: 32px;
    height: 32px;
  }

  .header .menu-icon.secondary{
    stroke: var(--dark);
  }


  .header .popup-menu-link{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;

    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .header-logo-subtitle{
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height, or 125% */

    letter-spacing: 0.18em;
    text-transform: uppercase;


  }

}

/* ---------------------------------------------- [DESKTOP] ----------------------------------------------------- */
@media screen and (min-width: 1440px) {

  .header {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 50%;
    background: transparent;
    height: 78px;
    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
    transform: translateX(-50%);
  }

  .header.secondary{
    position: static;
    transform: none;
    background-color: var(--white);
  }
  .header-container {
    min-width: 1406px;
    height: 100%;
    align-items: center;

  }

  .header-nav-item.active {
    position: relative;
  }
  
  .header-nav-item.active::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--light);
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);

  }

  .header-nav-item.active.secondary::after{
    background-color: var(--dark);
  }

  .header .close-icon{
    display: none;
  }
  
  .open-menu-btn {
    display: none;
  }

  .burger-icon {
    display: none;
  }

  .header-nav {
    display: flex;

  }

  .header-nav-list {
    display: flex;
    color: var(--light);
    gap: 32px;
  }
  .header-nav-list.secondary{
    color: black;
  }

  .header-nav-link{
    color: inherit;
  }

  .header-logo {
    margin-left: 370px;
    color: var(--light);
  }

  .header-logo.secondary{
    color: black;
  }

  .header address{
    margin-left: auto;
  }

  .header-social-media-link{
    color: var(--light);
  }


  .header .social-media-icon {
    stroke: var(--light);
  }

  .header .social-media-icon.secondary{
    stroke:black;
  }
  .menu-btn{
    display: none;
  }

  .popup-menu {
    display: none;
  }
}
