/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* utils */
@import url('./utils/variables.css');
@import url('./utils/hidden.css');

/* base */
@import url('./base/reset.css');
@import url('./base/common.css');

/* components */
@import url('./components/section.css');
@import url('./components/container.css');

/* layout */
@import url('./header.css');
@import url('./layout/main/main.css');
@import url('./layout/hotel/hotel.css');
@import url('./layout/restaurant/restaurant.css');
@import url('./layout/room/room.css');
@import url('./footer.css');

/* pages */
@import url('./pages/modal/room-modal.css');
@import url('./pages/modal/table-modal.css');
@import url('./pages/modal/prices-modal.css');




/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
