<section class="main-about-section">
  <h2 class="hidden">About a complex</h2>
  <div class="container main-about-container hotel-wrap">
    <div class="images-wrap">
      <picture class="lobby-img">
        <source
          media="(min-width: 376px)"
          srcset="
            ../../img/main-page/main-about/desktop/ab-img-1-desk@1x.jpg 1x,
            ../../img/main-page/main-about/desktop/ab-img-1-desk@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 375px)"
          srcset="
            ../../img/main-page/main-about/mobile/ab-img-1-mob@1x.jpg 1x,
            ../../img/main-page/main-about/mobile/ab-img-1-mob@2x.jpg 2x
          "
        />
        <img
          src="../../img/main-page/main-about/desktop/ab-img-1-desk@1x.jpg"
          alt="hotel lobby interior"
          width="482px"
        />
      </picture>
      <picture class="bathroom-img">
        <source
          media="(min-width: 768px)"
          srcset="
            ../../img/main-page/main-about/desktop/ab-img-2-desk@1x.jpg 1x,
            ../../img/main-page/main-about/desktop/ab-img-2-desk@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 375px)"
          srcset="
            ../../img/main-page/main-about/tablet/ab-img-2-tab@1x.jpg 1x,
            ../../img/main-page/main-about/tablet/ab-img-2-tab@2x.jpg 2x
          "
        />

        <source
          media="(max-width: 375px)"
          srcset="
            ../../img/main-page/main-about/mobile/ab-img-2-mob@1x.jpg 1x,
            ../../img/main-page/main-about/mobile/ab-img-2-mob@2x.jpg 2x
          "
        />
        <img
          src="../../img/main-page/main-hero/desktop/hero-img-desk@1x.jpg"
          alt="bathroom image"
        />
      </picture>
    </div>
    <h3 class="main-about-subtitle">restaurant-hotel complex</h3>
    <p class="main-about-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="main-about-text">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
  </div>

  <div class="container main-about-container restaurant-wrap">
    <picture class="restaurant-img">
      <source
        media="(min-width: 768px)"
        srcset="
          ../../img/main-page/main-about/desktop/ab-img-4-desk@1x.jpg 1x,
          ../../img/main-page/main-about/desktop/ab-img-4-desk@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 375px)"
        srcset="
          ../../img/main-page/main-about/mobile/ab-img-3-mob@1x.jpg 1x,
          ../../img/main-page/main-about/mobile/ab-img-3-mob@2x.jpg 2x
        "
      />
      <img
        src="../../img/main-page/main-about/desktop/ab-img-4-desk@1x.jpg"
        alt="table in restaurant"
        width="530px"
      />
    </picture>
    <h3 class="main-about-subtitle">business class hotel</h3>
    <p class="main-about-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
