<section class="main-about-section">
<h2 class="visually-hidden">About a complex</h2>
  <div class="container main-about-container">

    <h3 class="main-about-subtitle">restaurant-hotel complex</h3>
    <p class="main-about-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="main-about-text">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
  </div>

  <div class="container main-about-container">
    <h3 class="main-about-subtitle">business class hotel</h3>
    <p class="main-about-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
