<section class="main-hotel">
    <div class="container main-hotel-container">

        <div class="main-hotel-head">
            <h2 class="main-hotel-title">Hotel</h2>
            <p class="main-hotel-about">Book your stay with us now and experience
                the epitome of comfort and luxury at our hotel.
                We guarantee you'll be thrilled with your decision.</p>
        </div>

        <div class="hotel-photo-wrap">
            <div class="first-column">
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-1-desk@1x.jpg 1x,
                                    ./img/main-page/main-hotels/desktop/ht-img-1-desk@2x.jpg 2x"
                            type="image/jpeg" loading="lazy" media="(min-width:1440px)">
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-1-tab@1x.jpg 1x,
                                    ./img/main-page/main-hotels/tablet/ht-img-1-tab@2x.jpg 2x" 
                            type="image/jpeg" loading="lazy" media="(min-width:768px)">
                    <img src="./img/main-page/main-restaurants/desktop/rest-img-1-tab@1x.jpg"
                                                    loading="lazy" alt="Slider-photo1">
                </picture>
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-2-desk@1x.jpg 1x,
                                    ./img/main-page/main-hotels/desktop/ht-img-2-desk@2x.jpg 2x"
                            type="image/jpeg" loading="lazy" media="(min-width:1440px)">
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-2-tab@1x.jpg 1x,
                                    ./img/main-page/main-hotels/tablet/ht-img-2-tab@2x.jpg 2x" 
                            type="image/jpeg" loading="lazy" media="(min-width:768px)">
                    <img src="./img/main-page/main-restaurants/desktop/rest-img-2-tab@1x.jpg"
                                                    loading="lazy" alt="Slider-photo1">
                </picture>
            </div>
            <picture>
                <source srcset="./img/main-page/main-hotels/desktop/ht-img-3-desk@1x.jpg 1x,
                                ./img/main-page/main-hotels/desktop/ht-img-3-desk@2x.jpg 2x"
                        type="image/jpeg" loading="lazy" media="(min-width:1440px)">
                <source srcset="./img/main-page/main-hotels/tablet/ht-img-3-tab@1x.jpg 1x,
                                ./img/main-page/main-hotels/tablet/ht-img-3-tab@2x.jpg 2x" 
                        type="image/jpeg" loading="lazy" media="(min-width:768px)">
                <source srcset="./img/main-page/main-hotels/mobile/ht-img-1-mob@1x.jpg 1x,
                                ./img/main-page/main-hotels/mobile/ht-img-1-mob@2x.jpg 2x" 
                        type="image/jpeg" loading="lazy" media="(max-width:767px)">
                <img src="./img/main-page/main-restaurants/desktop/rest-img-1-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo1">
            </picture>
            <div class="third-column">
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-4-desk@1x.jpg 1x,
                                    ./img/main-page/main-hotels/desktop/ht-img-4-desk@2x.jpg 2x"
                            type="image/jpeg" loading="lazy" media="(min-width:1440px)">
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-4-tab@1x.jpg 1x,
                                    ./img/main-page/main-hotels/tablet/ht-img-4-tab@2x.jpg 2x" 
                            type="image/jpeg" loading="lazy" media="(min-width:768px)">
                    <img src="./img/main-page/main-restaurants/desktop/rest-img-4-tab@1x.jpg"
                                                    loading="lazy" alt="Slider-photo1">
                </picture>
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-5-desk@1x.jpg 1x,
                                    ./img/main-page/main-hotels/desktop/ht-img-5-desk@2x.jpg 2x"
                            type="image/jpeg" loading="lazy" media="(min-width:1440px)">
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-5-tab@1x.jpg 1x,
                                    ./img/main-page/main-hotels/tablet/ht-img-5-tab@2x.jpg 2x" 
                            type="image/jpeg" loading="lazy" media="(min-width:768px)">
                    <img src="./img/main-page/main-restaurants/desktop/rest-img-5-tab@1x.jpg"
                                                    loading="lazy" alt="Slider-photo1">
                </picture>
            </div>
        </div>

        <div class="hotels-gallery">
            <div class="photo-slider">
                <div class="thumb">
                    <img 
                    src="./img/main-page/main-hotels/mobile/ht-img-2-mob@1x.jpg" 
                    alt="Shampoo" 
                    srcset="./img/main-page/main-hotels/mobile/ht-img-2-mob@1x.jpg 1x,
                            ./img/main-page/main-hotels/mobile/ht-img-2-mob@2x.jpg 2x">
                </div>
                <div class="thumb">
                    <img 
                    src="./img/main-page/main-hotels/mobile/ht-img-2-mob@1x.jpg" 
                    alt="Shampoo" 
                    srcset="./img/main-page/main-hotels/mobile/ht-img-3-mob@1x.jpg 1x,
                            ./img/main-page/main-hotels/mobile/ht-img-3-mob@2x.jpg 2x">
                </div>
                <div class="thumb">
                    <img 
                    src="./img/main-page/main-hotels/mobile/ht-img-4-mob@1x.jpg" 
                    alt="Shampoo" 
                    srcset="./img/main-page/main-hotels/mobile/ht-img-4-mob@1x.jpg 1x,
                            ./img/main-page/main-hotels/mobile/ht-img-4-mob@2x.jpg 2x">
                </div>
                <div class="thumb">
                    <img 
                    src="./img/main-page/main-hotels/mobile/ht-img-5-mob@1x.jpg" 
                    alt="Shampoo" 
                    srcset="./img/main-page/main-hotels/mobile/ht-img-5-mob@1x.jpg 1x,
                            ./img/main-page/main-hotels/mobile/ht-img-5-mob@2x.jpg 2x">
                </div>
            </div>

            <div class="main-button-scroll">
                <button type="button" class="button-left">
                    <svg width="24" height="24">
                        <use href="./img/icons.svg#arrow-left">
                        </use>
                    </svg></button>
                <button type="button" class="button-right">
                    <svg width="24" height="24">
                        <use href="./img/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div> 
        </div>

        <ul class="main-btn-room">
            <li>
                <button class="btn-main-room btn" data-modal-br-open>Book a room</button>
            </li>
            <li>
                <button class="btn-main-room btn" onClick="location.href = './hotel.html'" type="submit">View room</button>
            </li>
        </ul>
        </div>
    </div>

</section>