<section class="section wellcome-section">
  <div class="container wellcome-container">
    <div class="wellcome-text-wrap">
      <h2 class="hidden">Our atmosphere</h2>
      <h3 class="wellcome-title">
        Welcome to the epitome of <span>luxury and comfort</span>
      </h3>
      <ul class="wellcome-text-list">
        <li class="wellcome-text-item">
          <p class="wellcome-text first-paragraph">
            Our hotel rooms are elegantly designed with an eye for detail,
            ensuring that you have everything you need for a relaxing and
            rejuvenating stay.
          </p>
        </li>
        <li class="wellcome-text-item">
          <p class="wellcome-text second-paragraph">
            Each room is equipped with the latest amenities, including plush
            bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to
            help you start your day right. Our spacious bathrooms feature
            luxurious toiletries and towels, so you can pamper yourself in
            complete privacy.
          </p>
        </li>
      </ul>
    </div>
    <div class="wellcome-img-thumb">
      <picture>
        <source
          srcset="
            ./img/main-page/main-welcome/mobile/well-img-mob@1x.jpg 1x,
            ./img/main-page/main-welcome/mobile/well-img-mob@2x.jpg 2x
          "
          loading="lazy" media="(max-width: 767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/main-page/main-welcome/tablet/well-img-tab@1x.jpg 1x,
            ./img/main-page/main-welcome/tablet/well-img-tab@2x.jpg 2x
          "
          loading="lazy" media="(max-width: 1439px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/main-page/main-welcome/desktop/well-img-desk@1x.jpg 1x,
            ./img/main-page/main-welcome/desktop/well-img-desk@2x.jpg 2x
          "
          loading="lazy" media="(min-width: 1440px)"
          type="image/jpeg"
        />
        <img
          src="./img/main-page/main-welcome/mobile/well-img-mob@1x.jpg"
          loading="lazy"
          alt="a photo of restourant"
          class="wellcome-section-img"
        />
      </picture>
    </div>
  </div>
</section>