<section class="restaurant">
        <div class="container">
                <div class="restaurant-wrap">
                        <h2 class="title">restaurant</h2>
                        <p class="text">Relax and unwind with our delicious offerings, available any time of day.</p>
                        <div class="button-book-wrap desktop">
                                <button type="button" data-modal-bt-open>book a table</button>
                                <a class="button-link" href="./restaurant.html#menu">View the menu</a>
                        </div>
                </div>
                <div class="gallery">
                        <div class="photo-slider">
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-1-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-1-desk@2x.jpg 2x"
                                                type="image/jpeg" media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-1-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-1-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-1-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-1-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-1-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo1">
                                </picture>
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-2-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-2-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-2-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-2-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-2-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-2-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-2-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo2">
                                </picture>
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-3-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-3-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-3-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-3-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-3-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-3-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-3-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo3">
                                </picture>
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-4-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-4-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-4-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-4-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-4-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-4-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-4-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo4">
                                </picture>
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-5-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-5-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-5-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-5-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-5-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-5-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-5-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo5">
                                </picture>
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-6-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-6-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-6-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-6-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-6-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-6-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-6-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo6">
                                </picture>
                                <picture class="item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-7-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-7-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <source srcset="./img/main-page/main-restaurants/tablet/rest-img-7-tab@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/tablet/rest-img-7-tab@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:768px)">
                                        <source srcset="./img/main-page/main-restaurants/mobile/rest-img-7-mob@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/mobile/rest-img-7-mob@2x.jpg 2x" type="image/jpeg"
                                                media="(max-width:767px)">
                                        <img src="./img/main-page/main-restaurants/mobile/rest-img-7-mob@1x.jpg"
                                                loading="lazy" alt="Slider-photo7">
                                </picture>
                                <picture class="desktop-img item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-8-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-8-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-8-desk@1x.jpg"
                                                loading="lazy" alt="Slider-photo8">
                                </picture>
                                <picture class="desktop-img item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-9-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-9-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-9-desk@1x.jpg"
                                                loading="lazy" alt="Slider-photo9">
                                </picture>
                                <picture class="desktop-img item">
                                        <source srcset="./img/main-page/main-restaurants/desktop/rest-img-10-desk@1x.jpg 1x,
                                        ./img/main-page/main-restaurants/desktop/rest-img-10-desk@2x.jpg 2x" type="image/jpeg"
                                                media="(min-width:1440px)">
                                        <img src="./img/main-page/main-restaurants/desktop/rest-img-10-desk@1x.jpg"
                                                loading="lazy" alt="">
                                </picture>


                        </div>
                        <div class="button-wrap">
                                <button class="button-left" type="button">
                                        <svg class="button-icon">
                                                <use href="./img/icons.svg#arrow-left">
                                                </use>
                                        </svg>
                                </button>
                                <button class="button-right" type="button">
                                        <svg class="button-icon">
                                                <use href="./img/icons.svg#arrow-right"></use>
                                        </svg>
                                </button>
                        </div>
                        <div class="button-book-wrap mobile">
                                <button type="button" class="" data-modal-bt-open>book a table</button>
                                <a class="button-link" href="./restaurant.html#menu">View the menu</a>
                        </div>
                </div>
        </div>
</section>
<script src="./js/adapt-gallery.js"></script>