<section class="main-about-section">
  <h2 class="hidden">About a complex</h2>
  <div class="container main-about-container hotel-wrap">
    <div class="images-wrap">
      <picture class="lobby-img">
        <source
          media="(min-width: 376px)"
          srcset="
            ../../img/main-page/main-about/desktop/ab-img-1-desk@1x.jpg 1x,
            ../../img/main-page/main-about/desktop/ab-img-1-desk@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 375px)"
          srcset="
            ../../img/main-page/main-about/mobile/ab-img-1-mob@1x.jpg 1x,
            ../../img/main-page/main-about/mobile/ab-img-1-mob@2x.jpg 2x
          "
        />
        <img
          src="../../img/main-page/main-about/desktop/ab-img-1-desk@1x.jpg"
          alt="hotel lobby interior"
          width="482"
        />
      </picture>
      <picture class="bathroom-img">
        <source
          media="(min-width: 768px)"
          srcset="
            ../../img/main-page/main-about/desktop/ab-img-2-desk@1x.jpg 1x,
            ../../img/main-page/main-about/desktop/ab-img-2-desk@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 375px)"
          srcset="
            ../../img/main-page/main-about/tablet/ab-img-2-tab@1x.jpg 1x,
            ../../img/main-page/main-about/tablet/ab-img-2-tab@2x.jpg 2x
          "
        />

        <source
          media="(max-width: 375px)"
          srcset="
            ../../img/main-page/main-about/mobile/ab-img-2-mob@1x.jpg 1x,
            ../../img/main-page/main-about/mobile/ab-img-2-mob@2x.jpg 2x
          "
        />
        <img
          src="../../img/main-page/main-hero/desktop/hero-img-desk@1x.jpg"
          alt="bathroom image"
        />
      </picture>
    </div>

    <div class="feedback-block">
      <img
        class="author-photo"
        srcset="
          ../../img/main-page/main-about/img-users-for-all-devises/img-use-r1@2x.png 2x
        "
        src="../../img/main-page/main-about/img-users-for-all-devises/img-user-1@1x.png"
        alt="photo of the young woman"
        width="41"
        height="41"
      />
      <div class="text-wrap">
        <p class="author-name">Maria</p>
        <p class="feedback-text">give rating <span class="rating">4.5</span></p>
      </div>
    </div>
    <h3 class="main-about-subtitle">restaurant-hotel complex</h3>
    <p class="main-about-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="main-about-text">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
  </div>

  <div class="container main-about-container restaurant-wrap">
    <picture class="restaurant-img">
      <source
        media="(min-width: 768px)"
        srcset="
          ../../img/main-page/main-about/desktop/ab-img-4-desk@1x.jpg 1x,
          ../../img/main-page/main-about/desktop/ab-img-4-desk@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 375px)"
        srcset="
          ../../img/main-page/main-about/mobile/ab-img-3-mob@1x.jpg 1x,
          ../../img/main-page/main-about/mobile/ab-img-3-mob@2x.jpg 2x
        "
      />
      <img
        src="../../img/main-page/main-about/desktop/ab-img-4-desk@1x.jpg"
        alt="table in restaurant"
        width="530"
      />
    </picture>
    <h3 class="main-about-subtitle">business class hotel</h3>
    <p class="main-about-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    <picture class="bar-img">
      <source
        media="(min-width: 768px)"
        srcset="
          ../../img/main-page/main-about/desktop/ab-img-3-desk@1x.jpg 1x,
          ../../img/main-page/main-about/desktop/ab-img-3-desk@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../../img/main-page/main-about/mobile/ab-img-4-mob@1x.jpg 1x,
          img/main-page/main-about/mobile/ab-img-4-mob@2x.jpg       2x
        "
      />
      <img
        src="../../img/main-page/main-about/mobile/ab-img-4-mob@1x.jpg"
        alt="tables at the bar"
        width="266"
      />
    </picture>

    <div class="feedback-block">
      <img
        class="author-photo"
        srcset="
          ../../img/main-page/main-about/img-users-for-all-devises/img-user-2@2x.png 2x
        "
        src="../../img/main-page/main-about/img-users-for-all-devises/img-user-2@1x.png"
        alt="photo of the young man"
        width="41"
        height="41"
      />
      <div class="text-wrap">
        <p class="author-name">Alexander</p>
        <p class="feedback-text">give rating <span class="rating">5.5</span></p>
      </div>
    </div>
  </div>
</section>
