<section class="main-hotel ">
    <div class="main-hotel-details container">
        <div class="maine-hotel-head">
            <h2 class="main-hotel-title">Hotel</h2>
            <p class="main-hotel-about">Book your stay with us now and experience
                the epitome of comfort and luxury at our hotel.
                We guarantee you'll be thrilled with your decision.</p>
        </div>

        <div class="main-photo-album">
            <div class="main-photo big">
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-3-desk@1x.jpg 1x,
                            ./img/main-page/main-hotels/desktop/ht-img-3-desk@2x.jpg 2x" media="(min-width: 1440px)" loading="lazy"/>
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-3-tab@1x.jpg 1x,
                            ./img/main-page/main-hotels/tablet/ht-img-3-tab@2x.jpg 2x" media="(min-width: 768px)" loading="lazy"/>
                    <source srcset="./img/main-page/main-hotels/mobile/ht-img-1-mob@1x.jpg 1x,
                            ./img/main-page/main-hotels/mobile/ht-img-1-mob@2x.jpg 2x" media="(max-width: 767px)" />
                    <img src="./img/main-page/main-hotels/desktop/ht-img-3-desk@1x.jpg" loading="lazy" alt="hotel room"
                        width="420px" height="548px">
                </picture>
            </div>
            <div class="main-photo-colum left-colum">
                <div class="item-colum">
                    <picture>
                        <source srcset="./img/main-page/main-hotels/desktop/ht-img-1-desk@1x.jpg 1x,
                                ./img/main-page/main-hotels/desktop/ht-img-1-desk@2x.jpg 2x"
                            media="(min-width: 1440px)" loading="lazy"/>
                        <source srcset="./img/main-page/main-hotels/tablet/ht-img-1-tab@1x.jpg 1x,
                                ./img/main-page/main-hotels/tablet/ht-img-1-tab@2x.jpg 2x"
                            media="(min-width: 768px)" loading="lazy"/>
                        <source srcset="./.img/main-page/main-hotels/mobile/ht-img-2-mob@1x.jpg 1x,
                                ./.img/main-page/main-hotels/mobile/ht-img-2-mob@2x.jpg 2x"
                            media="(max-width: 767px)" loading="lazy"/>
                        <img src="./img/main-page/main-hotels/desktop/ht-img-1-desk@1x.jpg" loading="lazy"
                            alt="hotel room" width="320px" height="260px">
                    </picture>
                </div>
                <div class="item-colum">
                    <picture>
                        <source srcset="./img/main-page/main-hotels/desktop/ht-img-2-desk@1x.jpg 1x,
                                ./img/main-page/main-hotels/desktop/ht-img-2-desk@2x.jpg 2x"
                            media="(min-width: 1440px)" loading="lazy"/>
                        <source srcset="./img/main-page/main-hotels/tablet/ht-img-2-tab@1x.jpg 1x,
                                ./img/main-page/main-hotels/tablet/ht-img-2-tab@2x.jpg 2x"
                            media="(min-width: 768px)" loading="lazy"/>
                        <source srcset="./img/main-page/main-hotels/mobile/ht-img-3-mob@1x.jpg.jpg 1x,
                                ./img/main-page/main-hotels/mobile/ht-img-3-mob@2x.jpg 2x"
                            media="(max-width: 767px)" loading="lazy"/>
                        <img src="./img/main-page/main-hotels/desktop/ht-img-2-desk@1x.jpg" loading="lazy"
                            alt="hotel room" width="320px" height="260px">
                    </picture>
                </div>
            </div>
        </div>
        <div class="main-photo-colum right-colum">
            <div class="item-colum slide3" id="slide3">
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-4-desk@1x.jpg 1x,
                                ./img/main-page/main-hotels/desktop/ht-img-4-desk@2x.jpg 2x"
                        media="(min-width: 1440px)" loading="lazy"/>
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-4-tab@1x.jpg 1x,
                                ./img/main-page/main-hotels/tablet/ht-img-4-tab@2x.jpg 2x"
                        media="(min-width: 768px)" loading="lazy"/>
                    <source srcset="./img/main-page/main-hotels/mobile/ht-img-4-mob@1x.jpg.jpg 1x,
                                ./img/main-page/main-hotels/mobile/ht-img-4-mob@2x.jpg 2x"
                        media="(max-width: 767px)" loading="lazy"/>
                    <img src="./img/main-page/main-hotels/desktop/ht-img-4-desk@1x.jpg" loading="lazy" alt="hotel room"
                        width="320px" height="260px">
                </picture>
            </div>
            <div class="item-colum">
                <picture>
                    <source srcset="./img/main-page/main-hotels/desktop/ht-img-5-desk@1x.jpg 1x,
                                ./img/main-page/main-hotels/desktop/ht-img-5-desk@2x.jpg 2x"
                        media="(min-width: 1440px)" loading="lazy"/>
                    <source srcset="./img/main-page/main-hotels/tablet/ht-img-5-tab@1x.jpg 1x,
                                ./img/main-page/main-hotels/tablet/ht-img-5-tab@2x.jpg 2x"
                        media="(min-width: 768px)" loading="lazy"/>
                    <source srcset="./img/main-page/main-hotels/mobile/ht-img-5-mob@1x.jpg.jpg 1x,
                                ./img/main-page/main-hotels/mobile/ht-img-5-mob@2x.jpg 2x"
                        media="(max-width: 767px)" loading="lazy"/>
                    <img src="./img/main-page/main-hotels/desktop/ht-img-5-desk@1x.jpg" loading="lazy" alt="hotel room"
                        width="320px" height="260px">
                </picture>
            </div>
        </div>
    </div>

    </div>

    <div class="main-button-scroll">
        <button type="button" data-previous-btn="" class="previous-btn">
            <svg width="24" height="24">
                <use href="./img/icons.svg#arrow-left">
                </use>
            </svg></button>
        <button type="button" data-next-btn="" class="next-btn">
            <svg width="24" height="24">
                <use href="./img/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>

    <ul class="main-btn-room">
        <li>
            <button class="btn-main-room main-hero-btn btn" data-modal-br-open>Book a room</button>
        </li>
        <li>
            <button class="btn-main-room btn" onClick="location.href = './hotel.html'" type="submit">View
                room</button>
        </li>
    </ul>
    </div>

</section>