<section class="main-hero-section">
  <div class="container">
    <h1 class="main-hero-title">Mimino</h1>

    <ul class="main-hero-btns">
      <li>
        <button class="btn" type="button" data-modal-br-open>
          book a room
        </button>
      </li>
      <li>
        <button class="btn" type="button" data-modal-bt-open>
          book a table
        </button>
      </li>
    </ul>

    <ul class="main-hero-desc">
      <li>
        <p class="main-hero-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or
          <span>a romantic dinner</span>, our menu has something for everyone.
        </p>
      </li>
      <li>
        <p class="main-hero-text">
          At Hotel Mimino, <span>we believe</span> that great food should be
          available to everyone, no matter the time of day.
        </p>
      </li>
    </ul>
  </div>
</section>
