<!-- <section>
    <div class="container main-location">
        <div>
            <h2 class="main-title-loc">location</h2>
        </div>
        <div class="main-location-position">
            <div class="maine-map">
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1292.9612550140423!2d34.52612013544309!3d49.59921072650413!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1677710854938!5m2!1sen!2sua"
    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe> -->

<!-- <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9198705658287!2d34.52599460000002!3d49.599260500000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1suk!2sua!4v1677421269162!5m2!1suk!2sua"
                    style="border:0;" allowfullscreen="" loading="lazy" width="100%"
                    referrerpolicy="no-referrer-when-downgrade"></iframe> -->
<!-- </div>
            <div class="main-adress">
                <div>
                    <p class="main-adress-item">
                        Ukraine, Poltava, <br> St. Marshal Biryuzov, 15
                    </p>
                </div>
                <div>
                    <p class="main-contact">
                        <span class="contacts-call-us">call us:</span>
                        (095) 555 95 33 <br> (066) 849 10 89
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section>
    <div class="container less-container">
        <h2 class="contacts-title">location</h2>
        <div class="contact-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1292.9612550140423!2d34.52612013544309!3d49.59921072650413!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1677710854938!5m2!1sen!2sua"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-block">
            <p class="contact-address">Ukraine, Poltava, <br>St. Marshal Biryuzov, 15</p>
            <div class="contact-wrap">
                <p class="contact-call">call us:</p>
                <div class="contact-tel">
                    <ul class="contact-list">
                        <li class="contact-item">
                            <a class="link contact-link" href="tel:+380955559533" class="tel">(095) 555 95 33</a>
                        </li>
                        <li class="contact-item">
                            <a class="link contact-link" href="tel:+380668491089" class="tel">(066) 849 10 89</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>