.section-restaurant-hero{
    padding-top: 40px;
    background-color: var(--button);
}

.restaurant-hero-title{
margin-bottom: 24px;
font-weight: 400;
font-size: 40px;
line-height: 1;
}

.restaurant-hero-btn{
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.restaurant-hero-btn-item{
height: 34px;
}

.restorant-wiew-menu-button-link{
    
    height: 34px;
    padding: 8px 18px;
    
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;

    color: var(--dark);
    border-color: var(--dark);
    background-color: transparent;
    
    transition: var(--action-transition);

    cursor: pointer;
}

.restorant-wiew-menu-button-link:is(:hover, :focus){
    color: var(--background);
    border-color: var(--dark);
    background-color: var(--dark);
}

.restaurant-hero-btn .action-btns{
    width: auto;
    height: 34px;

    font-size: 14px;
    line-height: 1.29;
    
    text-transform: uppercase;

    padding: 8px 18px;
color: var(--dark);
border-color: var(--dark);
background-color: transparent;

transition: var(--action-transition);
} 

.action-btns:is(:hover, :focus){
    color: var(--background);
    border-color: var(--dark);
    background-color: var(--dark);
}

.restaurant-hero-slide-pic-container{
    margin-bottom: 24px;
    overflow: hidden;
    width: 100%;
}
.restaurant-hero-slide-galery{
    display: flex;
    position: relative;
    gap: 20px;
    right: 0;
    transition: all 250ms var(--action-transition);
}

.restaurant-hero-picture{
    display: inline;
    width: 250px;
    height: 100%;
}

.restorante-hero-btn-slider{
    margin-bottom: 40px;
    text-align: right;
}
.restaurant-hero-button-svg{
    fill: none;
    stroke: #1212124D;
}

/* .restaurant-hero-button-slide:is(:hover, :focus) .restaurant-hero-button-svg{
    stroke: var(--dark);
} */

.restaurant-hero-button-slide{
    padding: 0;
    border: none;
    background-color: transparent;
}

.restaurant-hero-button-slide:not(:last-child){
    margin-right: 32px;
}

.restaurant-hero-text{
max-width: 338px;

font-size: 14px;
line-height: 1.29;
}

@media screen and (min-width: 768px){
    .section-restaurant-hero > .container{
        max-width: 767px;
    }

    .section-restaurant-hero{
        padding-bottom: 40px;
        background-color: var(--button);
    }

    .restaurant-hero-title{
        margin-bottom: 32px;
        font-size: 80px;
        line-height: 80px;
    }

    .restaurant-hero-btn{
        margin-bottom: 54px;
    }
    
    .restaurant-hero-slide-pic-container{
        margin-bottom: 40px;
    }

    .restaurant-hero-slide-galery{
        gap: 20px;
    }

    .restaurant-hero-picture {
        width: 436px;
        height: 100%;
    }

    .restaurant-hero-btn-item{
        height: 40px;
        }
        
    .restaurant-hero-btn .action-btns{
        height: 40px;
        padding: 8px 24px;
        
        font-size: 18px;
        line-height: 1.33;}

    .restorant-wiew-menu-button-link{
        font-size: 18px;
        line-height: 1.33;
        height: 40px;
        padding: 8px 24px;
        
    }

    .restaurant-hero-container-relative{
        position: relative;
    }

    .restorante-hero-btn-slider{
        position: absolute;
        bottom: 40px;
        right: 36px;
        margin-bottom: 0;
    }
}


@media screen and (min-width: 1440px){
    .section-restaurant-hero > .container{
        max-width: 1440px;
    }

    .section-restaurant-hero{
        padding-bottom: 48px;
    }


    .restaurant-hero-title{
        margin-top: 204px;
        font-size: 90px;
        line-height: 1;
    }

    .restaurant-hero-btn{
        margin-bottom: 177px;
    }

    .restaurant-hero-btn-item{
        height: 42px;
        }
        
    restaurant-hero-btn .action-btns{
        font-size: 14px;
        line-height: 1.71;
        
        padding: 9px 24px;
    }

    .restorant-wiew-menu-button-link{
        font-size: 14px;
        line-height: 1.71;
        
        padding: 9px 24px;
    }

    .restaurant-hero-slide-pic-container{
        position: absolute;
        bottom: 30px;
        right: 0;
        width: 705px;
        margin-left: auto;
        margin-bottom: 0;
    } 

    .restorante-hero-btn-slider{
        bottom: -18px;
        right: 596px;
    } 
}
        