.section-restaurant-hero{
    padding-top: 40px;
    padding-bottom: 64px;
    background-color: var(--background);
}

.restaurant-hero-title{
margin-bottom: 24px;
font-weight: 400;
font-size: 40px;
line-height: 1;
}

.restaurant-hero-btn{
    display: flex;
    gap: 12px;
    margin-bottom: 54px;
}

.action-btns-item .action-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 8px 18px;
color: var(--dark);
border-color: var(--dark);
background-color:var(--background);

transition: var(--action-transition);
}

.action-btns:is(:hover, :focus){
    color: var(--background);
    border-color: var(--dark);
    background-color: var(--dark);
}

.restaurant-hero-slide-pic-container{
    margin-bottom: 100px;
    height: 429px;
}

.restaurant-hero-text{
max-width: 338px;

font-size: 14px;
line-height: 1.29;
}