.section-restaurant-about {
    background-color:var(--background);
}

.restorante-about-container-general{
    display: flex;
    flex-direction: column;
}

.restaurant-about-pic-container-cook{
    margin-bottom: 20px;
}

.restaurant-about-pic-container-dishes{
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.rest-img{
    display: block;
}

.restaurant-about-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.29;
max-width: 335px;
letter-spacing: -0.02em;
}

.restaurant-about-text-first{
    min-width: 349px;
    margin-bottom: 24px;
}
.restaurant-about-text-second{
    min-width: 323px;
}

@media screen and (min-width: 768px) {

    .section-restaurant-about > .container{
        max-width: 767px;
    }
    
    .restorante-about-container-general{
        flex-direction: row;
        flex-wrap: wrap;
    }
   
    .restaurant-about-pic-container-dishes{
        flex-direction: column-reverse;
        gap: 16px;

        order: 1;
    }

    .restaurant-about-pic-container-cook{
        margin-left: 32px;

        order: 2;
    }

    .restaurant-about-text-flex{
        order: 3;
        display: flex;
        gap: 32px;
    }

    .restaurant-about-text {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0;
    }
    
    .restaurant-about-text-first{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px){

    .section-restaurant-about > .container{
        max-width: 1440px;
    }
    
    .restorante-about-container-general{
        flex-direction: row;
        justify-content: flex-end;
        gap: 32px;
    }

    .restaurant-about-pic-container-cook{
        position: static;
        margin-left: 0;
        margin-bottom: 0;
        order: 1;
    }

    .restaurant-about-pic-container-dishes{
        position: relative;
        flex-direction: row;
        gap: 32px;

        margin-bottom: 0;



        order: 2;
    }

    .restaurant-about-text-flex{
        position: absolute;
        
        transform: translatey(420px);


        order: 3;
    }

    .restaurant-about-text{
        font-weight: 500;
    }
    .restaurant-about-text-first{
        width: 334px;

    }
    .restaurant-about-text-second{
        width: 453px;
    }
   
}
